force-app/main/default/flows/Auto_generate_Run_Rate_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>All_in_one</name>
        <label>All in one</label>
        <locationX>788</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>SOC_New_LineSchedules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar_NewLineSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_data_into_new_SObject_Variable</name>
        <label>Assign data into new SObject Variable</label>
        <locationX>961</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>sVar_NewLineSchedule.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVar_LineSchedule.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar_NewLineSchedule.Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVar_LineSchedule.Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar_NewLineSchedule.ScheduleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVar_LineSchedule.ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar_NewLineSchedule.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_NewOpportunityLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar_NewLineSchedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVar_LineSchedule.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_in_one</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityLineItemId</name>
        <label>Set OpportunityLineItemId</label>
        <locationX>617</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>VarT_OldOpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Schedules</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Line_Schedules_Size</name>
        <label>Check Line Schedules Size</label>
        <locationX>976</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Schedules_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_LineSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Schedules</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_LineSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_1_by_1</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SOC_size</name>
        <label>Check SOC size</label>
        <locationX>240</locationX>
        <locationY>189</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_OLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_1_by_1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Auto-generate Run Rate Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-generate Run Rate Opportunity</label>
    <loops>
        <name>Extract_1_by_1</name>
        <label>Extract 1 by 1</label>
        <locationX>445</locationX>
        <locationY>188</locationY>
        <assignNextValueToReference>SOV_OLI</assignNextValueToReference>
        <collectionReference>SOC_OLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OpportunityLineItemId</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Extract_Schedules</name>
        <label>Extract Schedules</label>
        <locationX>971</locationX>
        <locationY>325</locationY>
        <assignNextValueToReference>sVar_LineSchedule</assignNextValueToReference>
        <collectionReference>SOC_LineSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_data_into_new_SObject_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_opportunity</name>
        <label>Create new opportunity</label>
        <locationX>236</locationX>
        <locationY>66</locationY>
        <assignRecordIdToReference>VarT_NewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_SOC_size</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarT_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>VarT_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!VarT_OldOpportunityName} - Run Rate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>VarT_OldOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>VarT_PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120L000000Vleu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Product</name>
        <label>Create Opportunity Product</label>
        <locationX>983</locationX>
        <locationY>59</locationY>
        <assignRecordIdToReference>VarT_NewOpportunityLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Line_Schedules_Size</targetReference>
        </connector>
        <inputAssignments>
            <field>Line_Item_Ship_Date__c</field>
            <value>
                <elementReference>SOV_OLI.Line_Item_Ship_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>VarT_NewOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>SOV_OLI.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>SOV_OLI.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>SOV_OLI.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Schedules</name>
        <label>Create Product Schedules</label>
        <locationX>702</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Extract_1_by_1</targetReference>
        </connector>
        <inputReference>SOC_New_LineSchedules</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Schedules</name>
        <label>Get Product Schedules</label>
        <locationX>807</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_OldOpportunityLineItemId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>SOC_LineSchedules</outputReference>
        <queriedFields>OpportunityLineItemId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Revenue</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>To_get_all_Line_Items_from_existing_opportunity</name>
        <label>To get all Line Items from existing opportunity</label>
        <locationX>60</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_OldOpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OLI</outputReference>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HasSchedule</queriedFields>
        <queriedFields>HasRevenueSchedule</queriedFields>
        <queriedFields>HasQuantitySchedule</queriedFields>
        <queriedFields>Line_Item_Ship_Date__c</queriedFields>
    </recordLookups>
    <startElementReference>To_get_all_Line_Items_from_existing_opportunity</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>NEW_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOC_LineSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>SOC_New_LineSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>SOC_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOCNewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOV_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sVar_LineSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>sVar_NewLineSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>VarT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_NewOpportunityLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
