force-app/main/default/flows/BRM_Automation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IT_Towers</name>
        <label>IT Towers</label>
        <locationX>815</locationX>
        <locationY>192</locationY>
        <actionName>ParseMultiselectValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>val</name>
            <value>
                <elementReference>$Record.IT_Skillsets__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Email</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1487</locationX>
        <locationY>399</locationY>
        <actionName>BRMITFormSendEmails</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailbody</name>
            <value>
                <elementReference>emailbody2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emails</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>OpportunitySubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>1447</locationX>
        <locationY>179</locationY>
        <actionName>BRMITFormSendEmails</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailbody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emails</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>ExecuteSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Null</name>
        <label>Check Null</label>
        <locationX>1032</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_email_when_gate_is_Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PENDING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emails</targetReference>
            </connector>
            <label>Send email when gate is Execute</label>
        </rules>
        <rules>
            <name>Send_email_when_gate_is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Send email when gate is Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>compare_status_values</name>
        <label>compare status values</label>
        <locationX>517</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_IS_PENDING</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PENDING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IT_Skillsets__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Gate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Gate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Towers</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status IS PENDING</label>
        </rules>
        <rules>
            <name>Status_IS_IN_PROGRESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN PROGRESS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CR_To_Be_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IT_Tower_Details</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status IS IN PROGRESS</label>
        </rules>
        <rules>
            <name>Gate_is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IT_Skillsets__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Gate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Gate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Towers</targetReference>
            </connector>
            <label>Gate is Opportunity</label>
        </rules>
    </decisions>
    <formulas>
        <name>RecordUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Requestnumber</name>
        <dataType>String</dataType>
        <expression>{!$Record.BRM_IT_Form_Number__c}</expression>
    </formulas>
    <interviewLabel>BRM Automation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRM Automation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CR_Records</name>
        <label>Create CR Records</label>
        <locationX>221</locationX>
        <locationY>488</locationY>
        <assignRecordIdToReference>changeRequestRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateBRMITForm</targetReference>
        </connector>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Category__c</field>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__Change_Description__c</field>
            <value>
                <elementReference>varBRMITForm.Business_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMCServiceDesk__FKInitiator__c</field>
            <value>
                <elementReference>varBRMITForm.HRC_IT_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Backout_strategy__c</field>
            <value>
                <stringValue>Can be reversed - No Outage Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Communication_Impact__c</field>
            <value>
                <stringValue>Regional Impact (NA, Europe/EMEA, AsiaPac)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complexity_of_Change__c</field>
            <value>
                <stringValue>Single Object</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criticality_of_Impact__c</field>
            <value>
                <stringValue>Impacts non-critical operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_the_Change_require_enduser_training__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_a_similar_Change_implemented_previous__c</field>
            <value>
                <stringValue>Previously successful</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_change_related_to_GxP_processes__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_teams_involved_in_implementing__c</field>
            <value>
                <stringValue>Single Support area or Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_strategy__c</field>
            <value>
                <stringValue>No Outage - Normal Move to Production or within normal change window</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_For__c</field>
            <value>
                <elementReference>varBRMITForm.Change_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updates_to_runbooks_or_other_documents__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Will_the_Change_be_promoted_from_Dev_Tes__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>BMCServiceDesk__Change_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_IT_Tower_Details</name>
        <label>Get IT Tower Details</label>
        <locationX>228</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CR_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IT_Skillsets__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BRM_IT_Tower_Information__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBRMITForm</name>
        <label>UpdateBRMITForm</label>
        <locationX>489</locationX>
        <locationY>483</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Request__c</field>
            <value>
                <elementReference>changeRequestRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>22</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>compare_status_values</targetReference>
        </connector>
        <object>BRM_IT_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,

You have an item that has moved into Execute/Pending for your tower, please address it accordingly in the IT BRM Form.
{!Requestnumber}
{!RecordUrl}



Thank you,
IT Business Partner</text>
    </textTemplates>
    <textTemplates>
        <name>emailbody2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,

You have an item that has moved into Opportunity for your tower, please address accordingly in the IT BRM Form.
{!Requestnumber}
{!RecordUrl}


Thank you,
IT Business Partner</text>
    </textTemplates>
    <variables>
        <name>changeRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BMCServiceDesk__Change_Request__c</objectType>
    </variables>
    <variables>
        <name>CheckNull</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExecuteSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BRM IT Form gate moved to Execute</stringValue>
        </value>
    </variables>
    <variables>
        <name>ITTowerCollection</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ITTowerDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ITTowers</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ITTowersDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BRM_IT_Tower_Information__mdt</objectType>
    </variables>
    <variables>
        <name>ITTowersList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunitySubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BRM IT Form gate moved to Opportunity</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Singleemail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBRMITForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BRM_IT_Form__c</objectType>
    </variables>
    <variables>
        <name>varChangeRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varITTowerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BRM_IT_Tower_Information__mdt</objectType>
    </variables>
</Flow>
