force-app/main/default/flows/Create_Rental_Order_Line_Item_on_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Order_and_OLI_on_WO</name>
        <label>Assign Order and OLI on WO</label>
        <locationX>989</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.HRCSVC_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_OLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.HRCSVC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Line_Item.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Order_Status</name>
        <label>Check Order Status</label>
        <locationX>582</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Status_match</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Line_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Line_Item.Order__r.HRCSVC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rental Activity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Line_Item.Order__r.HRCSVC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Rental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OLI</targetReference>
            </connector>
            <label>Order Status match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Record_is_available</name>
        <label>Check WO Record is available</label>
        <locationX>165</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Line_Item</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <interviewLabel>Create Rental Order Line Item on Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Rental Order Line Item on Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OLI</name>
        <label>Create OLI</label>
        <locationX>820</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Assign_Order_and_OLI_on_WO</targetReference>
        </connector>
        <inputAssignments>
            <field>HRCSVC_Asset__c</field>
            <value>
                <elementReference>WorkOrderRecord.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Contact_Name__c</field>
            <value>
                <elementReference>WorkOrderRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Customer_Cost_Center__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_JDE_Cost_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_End_Date__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_Patient_Off_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Entitlement_Name__c</field>
            <value>
                <elementReference>WorkOrderRecord.EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Order_Line_Item_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_PO_Number__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_PO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Patient_Room__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_Patient_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Prevent_Additional_WO_Creation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Service_Activity_Type__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_Activity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Start_Date__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_Patient_on_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Ward_Floor__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_Ward_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Get_Order_Line_Item.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>WorkOrderRecord.HRCSV_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Line_Item</name>
        <label>Get Order Line Item</label>
        <locationX>395</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.HRCSVC_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1162</locationX>
        <locationY>239</locationY>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Check_WO_Record_is_available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
