force-app/main/default/flows/Create_Product_Usage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Product_Usage</name>
        <label>Product Usage</label>
        <locationX>837</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>ProductUsage.HRCSVC_Date_of_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUsage.HRCSVC_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_Measurement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUsage.HRCSVC_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUsage.HRCSVC_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUsage.HRCSVC_Product_Usage_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BOM_Detail.Product_Usage_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUsage.HRCSVC_Product_Usage_Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BOM_Detail.Product_Usage_Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUsage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductUsageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Usage_Records</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ProductUsageName</name>
        <dataType>String</dataType>
        <expression>{!Get_Work_Order.Asset.HRCFSL_Product_Family__c} &amp; &quot; &quot; &amp; 
TEXT({!$System.OriginDateTime})</expression>
    </formulas>
    <interviewLabel>Create Product Usage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Product Usage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Usage_Records</name>
        <label>Create  Product Usage Records</label>
        <locationX>837</locationX>
        <locationY>451</locationY>
        <inputReference>ProductUsage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_BOM</name>
        <label>Get BOM</label>
        <locationX>542</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BOM_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCSVC_Product_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Asset.HRCFSL_Product_Family__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCSVC_BOM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BOM_Detail</name>
        <label>Get BOM Detail</label>
        <locationX>686</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Use_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BOM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BOM.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCSVC_BOM_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>421</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Use_Product</name>
        <label>Use Product</label>
        <locationX>837</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Usage</targetReference>
        </connector>
        <fields>
            <name>ProductUsageDescription</name>
            <fieldText>&lt;p&gt;Product Usage Description: {!Get_BOM_Detail.Product_Usage_Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Reading</name>
            <dataType>Date</dataType>
            <fieldText>Date of Reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Usage_Measurement</name>
            <dataType>Number</dataType>
            <fieldText>Usage Measurement Reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ProductUsageUoM</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Product Usage Unit of Measure:  &lt;/span&gt;{!Get_BOM_Detail.Product_Usage_Unit_of_Measure__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>25</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductUsage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRCSVC_Product_Usage__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
