force-app/main/default/flows/EarlySenseCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_OpportunityLineItemId</name>
        <label>Set OpportunityLineItemId</label>
        <locationX>737</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>VarT_OldOpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_SOC_size</name>
        <label>Check SOC size</label>
        <locationX>360</locationX>
        <locationY>189</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_OLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_1_by_1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Create Early Sense Opportunity from lost Centrella opportunity</description>
    <formulas>
        <name>Frm_Add14days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14</expression>
    </formulas>
    <formulas>
        <name>Frm_ShipDatePlus14</name>
        <dataType>DateTime</dataType>
        <expression>{!VarD_OldShipDate} + 14</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>EarlySenseCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EarlySenseCreate</label>
    <loops>
        <name>Extract_1_by_1</name>
        <label>Extract 1 by 1</label>
        <locationX>565</locationX>
        <locationY>188</locationY>
        <assignNextValueToReference>SOV_OLI</assignNextValueToReference>
        <collectionReference>SOC_OLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OpportunityLineItemId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_opportunity</name>
        <label>Create new opportunity</label>
        <locationX>356</locationX>
        <locationY>66</locationY>
        <assignRecordIdToReference>VarT_NewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_SOC_size</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarT_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Frm_Add14days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>VarT_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Early Sense - {!VarT_OldOpportunityName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Original Order Number - {!VarT_OldOrderNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Contact__c</field>
            <value>
                <elementReference>VarT_OldOrderContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarT_OldOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>VarT_PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120L0000002UlC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_Date__c</field>
            <value>
                <elementReference>Frm_ShipDatePlus14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Product</name>
        <label>Create Opportunity Product</label>
        <locationX>1101</locationX>
        <locationY>74</locationY>
        <assignRecordIdToReference>VarT_NewOpportunityLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Extract_1_by_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Line_Item_Ship_Date__c</field>
            <value>
                <elementReference>SOV_OLI.Line_Item_Ship_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>VarT_NewOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Options__c</field>
            <value>
                <elementReference>SOV_OLI.Package_Options__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u0L000009Z7rkQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>SOV_OLI.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>To_get_all_Line_Items_from_existing_opportunity</name>
        <label>To get all Line Items from existing opportunity</label>
        <locationX>180</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Centralla__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_OldOpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OLI</outputReference>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Line_Item_Ship_Date__c</queriedFields>
        <queriedFields>Package_Options__c</queriedFields>
    </recordLookups>
    <startElementReference>To_get_all_Line_Items_from_existing_opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>NEW_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOC_LineSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>SOC_New_LineSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>SOC_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOCNewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOV_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sVar_LineSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>sVar_NewLineSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>VarD_OldShipDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_CloseDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_NewOpportunityLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOrderContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OrderDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
