force-app/main/default/flows/HRCFSL_Mark_Required_Tool_Used.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Tool_as_Used</name>
        <label>Assign Tool as Used</label>
        <locationX>378</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>Get_Required_Tool.HRCFSL_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Required_Tool</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tool_Exists</name>
        <label>Tool Exists?</label>
        <locationX>373</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>Required Tool Not Found</defaultConnectorLabel>
        <rules>
            <name>Required_Tool_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Required_Tool</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tool_as_Used</targetReference>
            </connector>
            <label>Required Tool Found</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Mark Required Tool Used {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Mark Required Tool Used</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Required_Tool</name>
        <label>Get Required Tool</label>
        <locationX>196</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tool_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Product_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productModel</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Required_Tool__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Required_Tool</name>
        <label>Update Required Tool</label>
        <locationX>569</locationX>
        <locationY>235</locationY>
        <inputReference>Get_Required_Tool</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Required_Tool</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>productModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
