force-app/main/default/flows/HRCFSL_Work_Order_Offline_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddNumberOfAsset</name>
        <label>AddNumberOfAsset</label>
        <locationX>1795</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>AssetRecordId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMultipleAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Not_Match_Customer</name>
        <label>Asset Not Match Customer</label>
        <locationX>1758</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>AssetnewRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMultipleAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEntitlementRecord</name>
        <label>AssignEntitlementRecord</label>
        <locationX>499</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Offline_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Offline_Entitlement_Not_found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Not_Found_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrderUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLocationWO</name>
        <label>AssignLocationWO</label>
        <locationX>856</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationRecordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Offline_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Not_Found_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Offline_Customer_Not_Found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OfflineAssetNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOAssetAssignment</name>
        <label>WOAssetAssignment</label>
        <locationX>1483</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetRecordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Offline_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OfflineWardNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOWard</name>
        <label>WOWard</label>
        <locationX>1628</locationX>
        <locationY>1306</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Ward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WardRecordid.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Offline_Ward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Offline_Ward_Not_Found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordVariable.HRCFSL_Not_Found_Ward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Offline_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Not_Null</name>
        <label>Asset Not Null</label>
        <locationX>1283</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>WO_Asset_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location</targetReference>
            </connector>
            <label>List Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Territory_check</name>
        <label>Asset Territory check</label>
        <locationX>1641</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>Asset_Not_Match_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Territory_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecord.HRCFSL_Service_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Location.HRCFSL_Service_Territory__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddNumberOfAsset</targetReference>
            </connector>
            <label>Asset Territory match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Offline_Fields</name>
        <label>Check Offline Fields</label>
        <locationX>259</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>WorkOrderUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOfflineEntitlementNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecordVariable.HRCFSL_Offline_Entitlement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementRecordId</targetReference>
            </connector>
            <label>CheckOfflineEntitlementNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEntitlementRecFound</name>
        <label>CheckEntitlementRecFound</label>
        <locationX>495</locationX>
        <locationY>670</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Entitlement_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEntitlementRecFoundNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEntitlementRecord</targetReference>
            </connector>
            <label>CheckEntitlementRecFoundNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLocationId</name>
        <label>CheckLocationId</label>
        <locationX>883</locationX>
        <locationY>704</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Not_Found_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckLocationIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLocationWO</targetReference>
            </connector>
            <label>CheckLocationIdNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNumberOfAsset</name>
        <label>CheckNumberOfAsset</label>
        <locationX>1543</locationX>
        <locationY>873</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assetgreater_than_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOAssetAssignment</targetReference>
            </connector>
            <label>Assetgreater than one</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWardNotNull</name>
        <label>CheckWardNotNull</label>
        <locationX>1640</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <targetReference>WO_Ward_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkingWardNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WardRecordid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOWard</targetReference>
            </connector>
            <label>checkingWardNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>OfflineAssetNotNull</name>
        <label>OfflineAssetNotNull</label>
        <locationX>1156</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>OfflineWardNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OfflineAssetNtNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecordVariable.HRCFSL_Offline_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssetRec</targetReference>
            </connector>
            <label>OfflineAssetNtNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>OfflineCustomerNotNull</name>
        <label>OfflineCustomerNotNull</label>
        <locationX>656</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>OfflineAssetNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OfflineCustomerNtNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecordVariable.HRCFSL_Offline_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerRec</targetReference>
            </connector>
            <label>OfflineCustomerNtNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>OfflineWardNotNull</name>
        <label>OfflineWardNotNull</label>
        <locationX>1320</locationX>
        <locationY>1255</locationY>
        <defaultConnector>
            <targetReference>Check_Offline_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OfflineWardNtNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecordVariable.HRCFSL_Offline_Ward__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WardRecord</targetReference>
            </connector>
            <label>OfflineWardNtNull</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL_Work Order Offline Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL_Work Order Offline Update</label>
    <loops>
        <name>CheckMultipleAssets</name>
        <label>CheckMultipleAssets</label>
        <locationX>1533</locationX>
        <locationY>702</locationY>
        <assignNextValueToReference>AssetRecord</assignNextValueToReference>
        <collectionReference>AssetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Territory_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckNumberOfAsset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AssetRec</name>
        <label>AssetRec</label>
        <locationX>1158</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.HRCFSL_Offline_Asset__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>HRCFSL_Service_Territory__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CustomerRec</name>
        <label>CustomerRec</label>
        <locationX>728</locationX>
        <locationY>681</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckLocationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.HRCFSL_Offline_Customer__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>LocationRecordId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>EntitlementRecordId</name>
        <label>EntitlementRecord</label>
        <locationX>315</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckEntitlementRecFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.HRCFSL_Offline_Entitlement__c</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>EntitlementRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>1410</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMultipleAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.LocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Service_Territory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WardRecord</name>
        <label>WardRecord</label>
        <locationX>1322</locationX>
        <locationY>1420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWardNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.HRCFSL_Offline_Ward__c</elementReference>
            </value>
        </filters>
        <object>HRCFSL_Ward__c</object>
        <outputReference>WardRecordid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Work_Order_Record</name>
        <label>Work Order Record</label>
        <locationX>55</locationX>
        <locationY>1069</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OfflineCustomerNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Offline_Asset__c</queriedFields>
        <queriedFields>HRCFSL_Offline_Customer__c</queriedFields>
        <queriedFields>HRCFSL_Offline_Entitlement__c</queriedFields>
        <queriedFields>HRCFSL_Offline_Ward__c</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>HRCFSL_Not_Found_Asset__c</queriedFields>
        <queriedFields>HRCFSL_Not_Found_Customer__c</queriedFields>
        <queriedFields>HRCFSL_Not_Found_Entitlement__c</queriedFields>
        <queriedFields>HRCFSL_Not_Found_Ward__c</queriedFields>
        <queriedFields>HRCFSL_Offline_Customer_Not_Found__c</queriedFields>
        <queriedFields>HRCFSL_Offline_Entitlement_Not_found__c</queriedFields>
        <queriedFields>HRCFSL_Offline_Ward_Not_Found__c</queriedFields>
        <queriedFields>HRCFSL_Offline_Asset_Not_Found__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>HRCFSL_Ward__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>WO_Asset_not_found</name>
        <label>WO Asset not found</label>
        <locationX>1179</locationX>
        <locationY>504</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_Offline_Asset_Not_Found__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>WO_Ward_not_found</name>
        <label>WO Ward not found</label>
        <locationX>1809</locationX>
        <locationY>1686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_Offline_Ward_Not_Found__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Order_Entitlement_Not_Found</name>
        <label>Work Order Entitlement Not Found</label>
        <locationX>500</locationX>
        <locationY>485</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_Offline_Entitlement_Not_found__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Order_Not_Found_Customer</name>
        <label>Work Order Not Found Customer</label>
        <locationX>876</locationX>
        <locationY>564</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_Offline_Customer_Not_Found__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>WorkOrderUpdate</name>
        <label>WorkOrderUpdate</label>
        <locationX>1650</locationX>
        <locationY>1030</locationY>
        <inputReference>WorkOrderRecordVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Work_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetnewRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>EntitlementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>LocationRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>NumberofAsset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WardRecordid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCFSL_Ward__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
