force-app/main/default/flows/HRCFSL_Repair_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Audible</name>
        <label>Assign Audible</label>
        <locationX>94</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>AudibleValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Functional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Audible_0</name>
        <label>Assign Audible</label>
        <locationX>182</locationX>
        <locationY>4454</locationY>
        <assignmentItems>
            <assignToReference>TestsPerfomedValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Audible;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FunctionalTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complaint_Defaults_0</name>
        <label>Assign Complaint Defaults</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>complaintQualification.HRC_Functioning_as_designed_post_repair__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Document_troubleshooting__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Explain_if_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Test_performed_per_service_manual__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Part_Serial_and_or_Revision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Occurrence_Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Second_device_relationship_Model__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_PM_sticker_date_if_present__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Injury_or_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Device_Life_Override__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Design_Life_Override_Justificatn__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Aware_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Work_Order__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Describe_Malfunction_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_PM_Sticker_Present__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Section_A</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CQ_Inputs</name>
        <label>Assign CQ Inputs</label>
        <locationX>314</locationX>
        <locationY>5342</locationY>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Describe_Malfunction_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_Describe_Malfunction_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRC_Functioning_as_designed_post_repair__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4A_Functioning_as_designed_post_repair</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Document_troubleshooting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3_Document_troubleshooting_cause_resolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Explain_if_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4B_Explain_if_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Test_performed_per_service_manual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestsPerfomedValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Part_Serial_and_or_Revision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X5_Part_serial_and_or_Revision_if_applicable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Occurrence_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X6_Occurrence_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Second_device_relationship_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X8_Model_Serial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_PM_sticker_date_if_present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X9_PM_sticker_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Injury_or_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X7_Injury_or_Death</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_PM_Sticker_Present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X9_PM_Sticker_Present</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Existing_CQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CQ_Inputs_0</name>
        <label>Assign CQ Inputs</label>
        <locationX>930</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Describe_Malfunction_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRC_Functioning_as_designed_post_repair__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_4A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Document_troubleshooting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Explain_if_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_4B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Part_Serial_and_or_Revision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Occurrence_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Second_device_relationship_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_8B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_PM_sticker_date_if_present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_9A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_PM_Sticker_Present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_9B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AudibleValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_4C_Audib__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FunctionalValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_4C_Funct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisualValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_4C_Visua__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Injury_or_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_7__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Injury_or_Death</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default</name>
        <label>Assign Default</label>
        <locationX>798</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>complaintQualification.HRCSVC_Injury_or_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Section_A</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found</name>
        <label>Assign Found</label>
        <locationX>226</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ComplaintFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Audible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Functional</name>
        <label>Assign Functional</label>
        <locationX>94</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FunctionalValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Visual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Functional_0</name>
        <label>Assign Functional</label>
        <locationX>182</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>TestsPerfomedValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Functional;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VisualTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_Id_0_0</name>
        <label>Assign record Id</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesktopUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_Repair_Template_info_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visual</name>
        <label>Assign Visual</label>
        <locationX>94</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>VisualValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Section_A</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visual_0</name>
        <label>Assign Visual</label>
        <locationX>182</locationX>
        <locationY>5126</locationY>
        <assignmentItems>
            <assignToReference>TestsPerfomedValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Visual;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CQ_Inputs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_AskedButNotProvided</name>
        <choiceText>Asked but not provided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asked but not provided</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Audible</name>
        <choiceText>Audible</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Audible</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Functional</name>
        <choiceText>Functional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Functional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Question1_DefaultValue</name>
        <choiceText>{!WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_1__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_1__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_Question4_DefaultValue</name>
        <choiceText>{!WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_4A__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_4A__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_Question7_DefaultValue</name>
        <choiceText>{!WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_7__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_7__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_Question9_DefaultValue</name>
        <choiceText>{!WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_9B__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>WorkOrder_RepairTemplate_Info.HRCFSL_Repair_Template_Question_9B__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_Visual</name>
        <choiceText>Visual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>functioningAsDesignedDefault</name>
        <choiceText>{!complaintQualification.HRC_Functioning_as_designed_post_repair__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>complaintQualification.HRC_Functioning_as_designed_post_repair__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>injuryOrDeathDefaultChoice</name>
        <choiceText>{!complaintQualification.HRCSVC_Injury_or_Death__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>complaintQualification.HRCSVC_Injury_or_Death__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>PM_Sticker_Present_DefaultChoice</name>
        <choiceText>{!complaintQualification.HRCSVC_PM_Sticker_Present__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>complaintQualification.HRCSVC_PM_Sticker_Present__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>AudibleTrue</name>
        <label>Audible</label>
        <locationX>314</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>FunctionalTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Audible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Audible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Audible_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Audible</name>
        <label>Contains Audible?</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Contains_Functional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contains_Audible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complaintQualification.HRCSVC_Test_performed_per_service_manual__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Choice_Audible</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Audible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Functional</name>
        <label>Contains Functional?</label>
        <locationX>226</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Contains_Visual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contains_Functional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complaintQualification.HRCSVC_Test_performed_per_service_manual__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Functional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Functional</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Visual</name>
        <label>Contains Visual?</label>
        <locationX>226</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Section_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contains_Visual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complaintQualification.HRCSVC_Test_performed_per_service_manual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Visual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Visual</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desktop_or_Mobile</name>
        <label>Desktop or Mobile</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>WO_Repair_Template_info_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile</defaultConnectorLabel>
        <rules>
            <name>Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_Id_0_0</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Explain_if_No_0</name>
        <label>Explain if No</label>
        <locationX>424</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Tests_Performed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X4A_Functioning_as_designed_post_repair</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X4B_Explain_if_No</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Explain_if_No_screen_0</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>FunctionalTrue</name>
        <label>Functional</label>
        <locationX>314</locationX>
        <locationY>4670</locationY>
        <defaultConnector>
            <targetReference>VisualTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Functional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Functional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Functional_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_to_Section_B</name>
        <label>Go to Section B?</label>
        <locationX>578</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Update_Repair_Template_on_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>X1_Issue_covered_by_and_found_during_PM_or_BPI_PDI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Section_B</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_CQ</name>
        <label>Has Existing CQ</label>
        <locationX>314</locationX>
        <locationY>5462</locationY>
        <defaultConnectorLabel>No CQ or Case</defaultConnectorLabel>
        <rules>
            <name>Existing_CQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CQ</targetReference>
            </connector>
            <label>Existing CQ</label>
        </rules>
        <rules>
            <name>No_CQ_but_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder_RepairTemplate_Info.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CQ_0_0</targetReference>
            </connector>
            <label>No CQ, but Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_CQ_0</name>
        <label>Has Existing CQ</label>
        <locationX>578</locationX>
        <locationY>4214</locationY>
        <defaultConnectorLabel>No CQ or Case</defaultConnectorLabel>
        <rules>
            <name>Existing_CQ_or_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder_RepairTemplate_Info.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AudibleTrue</targetReference>
            </connector>
            <label>Existing CQ or Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_CQ_0_0</name>
        <label>Has Existing CQ</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Assign_CQ_Inputs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CQ or Case</defaultConnectorLabel>
        <rules>
            <name>Existing_CQ_Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complaintQualification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found</targetReference>
            </connector>
            <label>Existing CQ Yes</label>
        </rules>
        <rules>
            <name>No_CQ_but_Case_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder_RepairTemplate_Info.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complaint_Defaults_0</targetReference>
            </connector>
            <label>No CQ, but Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Injury_or_Death</name>
        <label>Injury or Death</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Section_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complaintQualification.HRCSVC_Injury_or_Death__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_4</name>
        <label>Question 4</label>
        <locationX>424</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Explain_if_No_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_on_Awaiting_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X4A_Functioning_as_designed_post_repair</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Q4</targetReference>
            </connector>
            <label>Blank on Awaiting Signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Appointment_Status</name>
        <label>Service Appointment Status</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Go_to_Section_B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_4</targetReference>
            </connector>
            <label>Awaiting Signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Appointment_Status_0_0</name>
        <label>Service Appointment Status</label>
        <locationX>424</locationX>
        <locationY>3662</locationY>
        <defaultConnector>
            <targetReference>Update_Repair_Template_on_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_fields_on_Awaiting_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X6_Occurrence_Location</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Missing_Location</targetReference>
            </connector>
            <label>Required fields on Awaiting Signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tests_Performed</name>
        <label>Tests Performed</label>
        <locationX>424</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Go_to_Section_B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Audible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Functional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Visual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Tests_Performed</targetReference>
            </connector>
            <label>All Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>VisualTrue</name>
        <label>Visual</label>
        <locationX>314</locationX>
        <locationY>5006</locationY>
        <defaultConnector>
            <targetReference>Assign_CQ_Inputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Visual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Visual_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConditionDefault</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_Condition__c</picklistField>
        <picklistObject>HRCSVC_Complaint_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>deviceLifeOverride</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_Device_Life_Override__c</picklistField>
        <picklistObject>HRCSVC_Complaint_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>deviceLifeOverrideJustification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_Design_Life_Override_Justificatn__c</picklistField>
        <picklistObject>HRCSVC_Complaint_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>functioningAsDesigned</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRC_Functioning_as_designed_post_repair__c</picklistField>
        <picklistObject>HRCSVC_Complaint_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>injuryOrDeath</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_Injury_or_Death__c</picklistField>
        <picklistObject>HRCSVC_Complaint_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PM_Sticker_Present</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_PM_Sticker_Present__c</picklistField>
        <picklistObject>HRCSVC_Complaint_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceManual</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_Test_performed_per_service_manual__c</picklistField>
        <picklistObject>HRCSVC_Complaint_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DesktopUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>HRCFSL Repair template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Repair Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_CQ_0_0</name>
        <label>Create CQ</label>
        <locationX>314</locationX>
        <locationY>5582</locationY>
        <inputReference>complaintQualification</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Complaint_Qualification_0</name>
        <label>Complaint Qualification</label>
        <locationX>578</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing_CQ_0_0</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>HRCSVC_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder_RepairTemplate_Info.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>HRCSVC_Complaint_Qualification__c</object>
        <outputReference>complaintQualification</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCSVC_Design_Life_Exceeded__c</queriedFields>
        <queriedFields>HRCSVC_Additional_Death_Questions__c</queriedFields>
        <queriedFields>HRCSVC_Additional_Injury_Questions__c</queriedFields>
        <queriedFields>HRCSVC_Additional_Malfunction_Questions__c</queriedFields>
        <queriedFields>HRCSVC_Aware_Date__c</queriedFields>
        <queriedFields>HRC_Functioning_as_designed_post_repair__c</queriedFields>
        <queriedFields>HRCSVC_Case__c</queriedFields>
        <queriedFields>HRCSVC_Design_Life_Override_Justificatn__c</queriedFields>
        <queriedFields>HRCSVC_Device_Life_Override__c</queriedFields>
        <queriedFields>HRCSVC_Describe_Malfunction_Event__c</queriedFields>
        <queriedFields>HRCSVC_Device_Used_On_With_Individual__c</queriedFields>
        <queriedFields>HRCSVC_Document_troubleshooting__c</queriedFields>
        <queriedFields>HRCSVC_ETQ_Complaint__c</queriedFields>
        <queriedFields>HRCSVC_ETQ_Complaint_Number__c</queriedFields>
        <queriedFields>HRCSVC_Existing_CQ_with_case__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>HRCSVC_Explain_if_No__c</queriedFields>
        <queriedFields>HRCSVC_Investigation_ID__c</queriedFields>
        <queriedFields>HRCSVC_Device_Message_Alert__c</queriedFields>
        <queriedFields>HRCSVC_Injury_or_Death__c</queriedFields>
        <queriedFields>HRCSVC_Occurrence_Location__c</queriedFields>
        <queriedFields>HRCSVC_Part_Serial_and_or_Revision__c</queriedFields>
        <queriedFields>HRCSVC_PM_sticker_date_if_present__c</queriedFields>
        <queriedFields>HRCSVC_Resolution_Status__c</queriedFields>
        <queriedFields>HRCSVC_Second_device_relationship_Model__c</queriedFields>
        <queriedFields>HRCSVC_Test_performed_per_service_manual__c</queriedFields>
        <queriedFields>HRCSVC_Work_Order__c</queriedFields>
        <queriedFields>HRCSVC_PCMS_ID__c</queriedFields>
        <queriedFields>HRCSVC_Resolution_Complete__c</queriedFields>
        <queriedFields>HRCSVC_Source_Of_Complaint__c</queriedFields>
        <queriedFields>HRCSVC_Condition__c</queriedFields>
        <queriedFields>HRCSVC_Resolution__c</queriedFields>
        <queriedFields>HRCSVC_PM_Sticker_Present__c</queriedFields>
        <queriedFields>HRCSVC_Account__c</queriedFields>
        <queriedFields>HRCSVC_Second_Account__c</queriedFields>
        <queriedFields>HRCSVC_Asset__c</queriedFields>
        <queriedFields>HRCSVC_Contact__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>WO_Repair_Template_info_0_0_0_0</name>
        <label>WO Repair Template info</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complaint_Qualification_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder_RepairTemplate_Info</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_1__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_3__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_4A__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_4C_Funct__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_4C_Visua__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_4C_Audib__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_7__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_8A__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_9A__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_9B__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_2__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_4B__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_5__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_6__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template_Question_8B__c</queriedFields>
        <queriedFields>HRCFSL_Repair_Template__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CQ</name>
        <label>Update CQ</label>
        <locationX>50</locationX>
        <locationY>5582</locationY>
        <inputReference>complaintQualification</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Repair_Template_on_WO</name>
        <label>Update Repair Template on WO</label>
        <locationX>578</locationX>
        <locationY>4094</locationY>
        <connector>
            <targetReference>Has_Existing_CQ_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_1__c</field>
            <value>
                <elementReference>X1_Issue_covered_by_and_found_during_PM_or_BPI_PDI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_2__c</field>
            <value>
                <elementReference>X2_Describe_Malfunction_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_3__c</field>
            <value>
                <elementReference>X3_Document_troubleshooting_cause_resolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_4A__c</field>
            <value>
                <elementReference>X4A_Functioning_as_designed_post_repair</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_4B__c</field>
            <value>
                <elementReference>X4B_Explain_if_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_4C_Audib__c</field>
            <value>
                <elementReference>Audible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_4C_Funct__c</field>
            <value>
                <elementReference>Functional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_4C_Visua__c</field>
            <value>
                <elementReference>Visual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_5__c</field>
            <value>
                <elementReference>X5_Part_serial_and_or_Revision_if_applicable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_6__c</field>
            <value>
                <elementReference>X6_Occurrence_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_7__c</field>
            <value>
                <elementReference>X7_Injury_or_Death</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_8B__c</field>
            <value>
                <elementReference>X8_Model_Serial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_9A__c</field>
            <value>
                <elementReference>X9_PM_sticker_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template_Question_9B__c</field>
            <value>
                <elementReference>X9_PM_Sticker_Present</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Repair_Template__c</field>
            <value>
                <elementReference>RepairTemplate_TEXT</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Explain_if_No_screen_0</name>
        <label>Explain if No</label>
        <locationX>292</locationX>
        <locationY>2774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tests_Performed</targetReference>
        </connector>
        <fields>
            <name>Explain_if_No_Text_0</name>
            <fieldText>&lt;p&gt;You answered &apos;No&apos; to question 4 (Functioning as designed post-repair). You must provide an explanation.&lt;/p&gt;&lt;p&gt;Click on the Previous button to go back and fill in the field &apos;Explain if No&apos;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Location</name>
        <label>Missing Location</label>
        <locationX>292</locationX>
        <locationY>3782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Repair_Template_on_WO</targetReference>
        </connector>
        <fields>
            <name>Missing_Location_Test</name>
            <fieldText>&lt;p&gt;You must select the Occurrence Location.&lt;/p&gt;&lt;p&gt;Click on the Previous button to go back.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Q4</name>
        <label>Missing Q4</label>
        <locationX>292</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Explain_if_No_0</targetReference>
        </connector>
        <fields>
            <name>Missing_Q4_Text</name>
            <fieldText>&lt;p&gt;You must answer question 4 (Functioning as designed post-repair).&lt;/p&gt;&lt;p&gt;Click on the Previous button to go back and answer the question.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Tests_Performed</name>
        <label>Missing Tests Performed</label>
        <locationX>292</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_Section_B</targetReference>
        </connector>
        <fields>
            <name>Missing_Tests_txt</name>
            <fieldText>&lt;p&gt;Select which tests you have performed  (Audible/Functional/Visual). You must select at least one option.&lt;/p&gt;&lt;p&gt;Click on the Previous button to go back.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Section_A</name>
        <label>Section A</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Service_Appointment_Status</targetReference>
        </connector>
        <fields>
            <name>X1_Issue_covered_by_and_found_during_PM_or_BPI_PDI</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Choice_Question1_DefaultValue</elementReference>
            </defaultValue>
            <fieldText>1) Issue covered by and found during PM or BPI/PDI?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X2_Describe_Malfunction_Event</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>complaintQualification.HRCSVC_Describe_Malfunction_Event__c</elementReference>
            </defaultValue>
            <fieldText>2) Describe Malfunction/Event:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X3_Document_troubleshooting_cause_resolution</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>complaintQualification.HRCSVC_Document_troubleshooting__c</elementReference>
            </defaultValue>
            <fieldText>3) Document troubleshooting, cause, resolution:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X4A_Functioning_as_designed_post_repair</name>
            <choiceReferences>functioningAsDesigned</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>functioningAsDesignedDefault</elementReference>
            </defaultValue>
            <fieldText>4) Functioning as designed post repair:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X4B_Explain_if_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>complaintQualification.HRCSVC_Explain_if_No__c</elementReference>
            </defaultValue>
            <fieldText>Explain if No:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X7_Injury_or_Death</name>
            <choiceReferences>injuryOrDeath</choiceReferences>
            <choiceReferences>injuryOrDeathDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>injuryOrDeathDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>5) Injury or Death?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tests_performed_title</name>
            <fieldText>&lt;p&gt;Tests performed per service manual:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Audible</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>AudibleValue</elementReference>
            </defaultValue>
            <fieldText>Audible?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Functional</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>FunctionalValue</elementReference>
            </defaultValue>
            <fieldText>Functional?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visual</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>VisualValue</elementReference>
            </defaultValue>
            <fieldText>Visual?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Section_B</name>
        <label>Section B</label>
        <locationX>424</locationX>
        <locationY>3542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Service_Appointment_Status_0_0</targetReference>
        </connector>
        <fields>
            <name>X5_Part_serial_and_or_Revision_if_applicable</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>complaintQualification.HRCSVC_Part_Serial_and_or_Revision__c</elementReference>
            </defaultValue>
            <fieldText>6) Part serial # and/or Revision (if applicable):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X6_Occurrence_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>complaintQualification.HRCSVC_Occurrence_Location__c</elementReference>
            </defaultValue>
            <fieldText>7) Occurrence Location?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X8_Second_device_relationship_ie_surface_sling</name>
            <fieldText>&lt;p&gt;8) Second device relationship (i.e. surface/sling):&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X8_Model_Serial</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>complaintQualification.HRCSVC_Second_device_relationship_Model__c</elementReference>
            </defaultValue>
            <fieldText>Model# / Serial#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X9_PM_Sticker_Present</name>
            <choiceReferences>PM_Sticker_Present</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PM_Sticker_Present_DefaultChoice</elementReference>
            </defaultValue>
            <fieldText>9) PM Sticker Present</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X9_PM_sticker_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>complaintQualification.HRCSVC_PM_sticker_date_if_present__c</elementReference>
            </defaultValue>
            <fieldText>PM sticker date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Input a date, or mark &quot;No PM Sticker date&quot;&lt;/p&gt;</errorMessage>
                <formulaExpression>MONTH({!X9_PM_sticker_date}) &gt;= 1</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Desktop_or_Mobile</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>RepairTemplate_TEXT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Found at PM/BPI- {!X1_Issue_covered_by_and_found_during_PM_or_BPI_PDI}
Describe Malfunction- {!X2_Describe_Malfunction_Event}
Cause/Resolution- {!X3_Document_troubleshooting_cause_resolution}
Functioning as Designed- {!X4A_Functioning_as_designed_post_repair}
Explain- {!X4B_Explain_if_No}
Test Performed-
Part Serial No- {!X5_Part_serial_and_or_Revision_if_applicable}
Occurrence Location- {!X6_Occurrence_Location}
Injury/Death- {!X7_Injury_or_Death}
Second Device-
Model/Serial No- {!X8_Model_Serial}
PM Sticker Date- {!X9_PM_sticker_date}</text>
    </textTemplates>
    <variables>
        <name>AudibleValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComplaintFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>complaintQualification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCSVC_Complaint_Qualification__c</objectType>
    </variables>
    <variables>
        <name>FunctionalValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stored the Work Order ID</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Question1_Value_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Question4_Value_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestsPerfomedValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisualValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder_RepairTemplate_Info</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
