force-app/main/default/flows/HRCFSL_Platform_Event_for_Emailing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Service_Report</name>
        <label>Email Service Report</label>
        <locationX>572</locationX>
        <locationY>411</locationY>
        <actionName>HRCFSL_EmailServiceReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_SA_Values</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>emailToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <elementReference>fileDelimiter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>srId</name>
            <value>
                <elementReference>serviceReport.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_SA_Values</name>
        <label>Assign SA Values</label>
        <locationX>727</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.HRCFSL_Is_Service_Report_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.HRCFSL_Is_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Parent_SA</name>
        <label>Is Parent SA?</label>
        <locationX>367</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Parent Not SA</defaultConnectorLabel>
        <rules>
            <name>Parent_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceReport.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment</targetReference>
            </connector>
            <label>Parent SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Auto_Send_Email</name>
        <label>Should Auto Send Email?</label>
        <locationX>785</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Assign_SA_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto Send No</defaultConnectorLabel>
        <rules>
            <name>Auto_Send_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Report_Template.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>srLayoutToEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Service_Report</targetReference>
            </connector>
            <label>Auto Send Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Platform Event for Emailing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Platform Event for Emailing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>556</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Report_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceReport.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Report_Template</name>
        <label>Service Report Template</label>
        <locationX>793</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Auto_Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceReport.Template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceReportLayout</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>968</locationX>
        <locationY>634</locationY>
        <inputReference>Service_Appointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Parent_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emailToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileDelimiter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceReport</objectType>
    </variables>
    <variables>
        <name>srLayoutToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
