force-app/main/default/flows/HRCFSL_Advance_Install_Base_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_B_Values</name>
        <label>Assign B Values</label>
        <locationX>139</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset.HRCFSL_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_C_Values</name>
        <label>Assign C Values</label>
        <locationX>605</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.HRCFSL_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Center_as_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_O_Values</name>
        <label>Assign O Values</label>
        <locationX>528</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Center_as_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.HRCFSL_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Center_as_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Work_Order_Patient_Info</name>
        <label>Update Work Order Patient Info</label>
        <locationX>63</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>WOtobeupdated.HRCFSL_Purge_Patient_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOtobeupdated.HRCSVC_Bypass_VR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateStatus</name>
        <label>Update Status</label>
        <locationX>1112</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset.HRCFSL_Asset_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IBoar.HRCFSL_Next_IB_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Territory_Exists_for_Location</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Checked</name>
        <label>Already Checked?</label>
        <locationX>63</locationX>
        <locationY>864</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkbox_is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOtobeupdated.HRCFSL_Purge_Patient_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOtobeupdated.HRCSVC_Bypass_VR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order_Patient_Info</targetReference>
            </connector>
            <label>Checkbox is false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Records</name>
        <label>Check Records</label>
        <locationX>790</locationX>
        <locationY>72</locationY>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IBoar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Workorder_is_not_null</name>
        <label>Check Workorder is not null</label>
        <locationX>60</locationX>
        <locationY>658</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_have_Value</name>
            <conditionLogic>1 AND 8 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>WOtobeupdated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Next_IB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Next_IB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Next_IB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Next_IB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Next_IB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Next_IB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Next_IB_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_IBoar.HRCFSL_IB_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Checked</targetReference>
            </connector>
            <label>WO have Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Territory_Exists_for_Location</name>
        <label>Service Territory Exists for Location</label>
        <locationX>1270</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Territory_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Location.HRCFSL_Service_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Center_as_Location</targetReference>
            </connector>
            <label>Service Territory Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Update_Type</name>
        <label>Site Update Type</label>
        <locationX>733</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Assign_O_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>O</defaultConnectorLabel>
        <rules>
            <name>No_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Site_Change_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>No Update</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Site_Change_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_C_Values</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IBoar.HRCFSL_Site_Change_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_B_Values</targetReference>
            </connector>
            <label>B</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Advance Install Base Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Advance Install Base Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>529</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IBoar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Asset_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IBoar</name>
        <label>Get IBoar</label>
        <locationX>652</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Doc_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_Doc_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_IB_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Asset.HRCFSL_Asset_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_Activity_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.HRCFSL_IBOAR_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_IBOAR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Center_as_Location</name>
        <label>Get Service Center as Location</label>
        <locationX>1120</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Site_Update_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Location.HRCFSL_Service_Territory__r.HRCFSL_External_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>404</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOtobeupdated</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Purge_Patient_Info__c</queriedFields>
        <queriedFields>HRCSVC_Bypass_VR__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>69</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Check_Workorder_is_not_null</targetReference>
        </connector>
        <inputReference>Get_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>60</locationX>
        <locationY>1191</locationY>
        <inputReference>WOtobeupdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WOtobeupdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
