force-app/main/default/flows/HRCFSL_Close_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_SA_Status_to_Cancelled</name>
        <label>Update SA Status to Cancelled</label>
        <locationX>1067</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>varRelatedSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedSA.HRCFSL_ClosedByJDE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_Status_to_Completed</name>
        <label>Update SA Status to Completed</label>
        <locationX>730</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>varRelatedSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedSA.HRCFSL_ClosedByJDE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedSA.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calc_SA_Actual_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedSA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calc_SA_Actual_End</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if current user is Data FromJDE</description>
        <name>JDE_Account</name>
        <label>JDE Account?</label>
        <locationX>520</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Profile.HRCFSL_Component_Detail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_SA_found</name>
        <label>Open SA found</label>
        <locationX>885</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpenSAFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Status</name>
        <label>WO Status</label>
        <locationX>889</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrder.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Status_to_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrder.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Status_to_Cancelled</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <description>Removed decision node to check for current SA Status</description>
    <formulas>
        <description>If SA Actual End is null, take WO End, otherwise take SA Actual End</description>
        <name>Calc_SA_Actual_End</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!varRelatedSA.ActualEndTime}),{!Calc_SA_Actual_Start} + ({!varRelatedSA.DurationInMinutes} / 1440),{!varRelatedSA.ActualEndTime})</expression>
    </formulas>
    <formulas>
        <description>If SA Actual Start is null,  take WO Start, otherwise take SA Actual Start</description>
        <name>Calc_SA_Actual_Start</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!varRelatedSA.ActualStartTime}),{!varWorkOrder.StartDate},{!varRelatedSA.ActualStartTime})</expression>
    </formulas>
    <formulas>
        <name>CurrentUserProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>HRCFSL Close Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Close Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Service_Appointments</name>
        <label>Get Open Service Appointments</label>
        <locationX>757</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_SA_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CannotComplete</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>varRelatedSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>403</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JDE_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCFSL_DataLoader_Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>653</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Service_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>varWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>904</locationX>
        <locationY>429</locationY>
        <inputReference>varRelatedSA</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varRelatedSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
