force-app/main/default/flows/HRCFSL_Check_IBOAR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Outcome_Error</name>
        <label>Outcome Error</label>
        <locationX>192</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Ok</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Outcome_Ok</name>
        <label>Outcome Ok</label>
        <locationX>458</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ok</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Allowed_Work_Type</name>
        <label>Allowed Work Type</label>
        <locationX>737</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Asset_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Allowed_Work_Type_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recVarAllowedWorkTypes.HRCFSL_Component_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>recVarWorkOrder.HRCFSL_Work_Type_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome_Ok</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Present</name>
        <label>Asset Present</label>
        <locationX>741</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Outcome_Ok</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Asset_Present_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recVarWorkOrder.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IBOAR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IBOAR_Doc_Type</name>
        <label>IBOAR Doc Type</label>
        <locationX>449</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Outcome_Ok</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IBOAR_DocType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recVarAppDocTypes.HRCFSL_Component_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>recVarWorkOrder.HRCFSL_Doc_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Exception_Work_Types</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IBOAR_Found</name>
        <label>IBOAR Found</label>
        <locationX>581</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>Asset_Status_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IBOAR_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecIBOAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome_Ok</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Check IBOAR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Check IBOAR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Applicable_Doc_Types</name>
        <label>Get Applicable Doc Types</label>
        <locationX>307</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IBOAR_Doc_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCFSL_Applicable_IBOAR_Doc_Types</stringValue>
            </value>
        </filters>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <outputReference>recVarAppDocTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Component_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Work Types where IBOAR rules do not apply</description>
        <name>Get_Exception_Work_Types</name>
        <label>Get Exception Work Types</label>
        <locationX>599</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allowed_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowed_WorkType</stringValue>
            </value>
        </filters>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <outputReference>recVarAllowedWorkTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Component_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IBOAR</name>
        <label>Get IBOAR</label>
        <locationX>751</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IBOAR_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recVarWorkOrder.HRCFSL_IBOAR_ID__c</elementReference>
            </value>
        </filters>
        <object>HRCFSL_IBOAR__c</object>
        <outputReference>varRecIBOAR</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Asset_Status_Error</name>
        <label>Asset Status Error</label>
        <locationX>323</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Outcome_Error</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Work Type {!recVarWorkOrder.HRCFSL_Work_Type_Name__c} is not allowed on this asset because its status is {!recVarWorkOrder.HRCFSL_Asset_Status__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Applicable_Doc_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recVarAllowedWorkTypes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCFSL_Organization_Settings__mdt</objectType>
    </variables>
    <variables>
        <name>recVarAppDocTypes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCFSL_Organization_Settings__mdt</objectType>
    </variables>
    <variables>
        <name>recVarWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varRecIBOAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCFSL_IBOAR__c</objectType>
    </variables>
    <variables>
        <name>varWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
