force-app/main/default/flows/HRCFSL_Assign_Asset_on_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Asset_to_Work_Order</name>
        <label>Assign Asset to Work Order</label>
        <locationX>528</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>workOrder.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrder.HRCFSL_Integration_ERP_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Integration_Asset</name>
        <label>Has Integration Asset</label>
        <locationX>126</locationX>
        <locationY>222</locationY>
        <defaultConnectorLabel>Integration Asset No</defaultConnectorLabel>
        <rules>
            <name>Integration_Asset_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrder.HRCFSL_Integration_ERP_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrder.HRCFSL_Integration_ERP_Asset__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Integration Asset Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Assign Asset on Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Assign Asset on Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>345</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Asset_to_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_JDE_ASSET__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrder.HRCFSL_Integration_ERP_Asset__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>asset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_JDE_ASSET__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>721</locationX>
        <locationY>326</locationY>
        <inputReference>workOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>28</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Has_Integration_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
