force-app/main/default/flows/HRCFSL_Platform_Event_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Direct_SA</name>
        <label>Assign Direct SA</label>
        <locationX>520</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direct_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Event_Log_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Log_Data</name>
        <label>Assign Event Log Data</label>
        <locationX>712</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>platformEventLog.HRCFSL_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>platformEventLog.HRCFSL_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>platformEventLog.HRCFSL_Work_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>platformEventLog.HRCFSL_SA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceAppointment.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>platformEventLog.HRCFSL_Event_Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indirect_SA</name>
        <label>Assign Indirect SA</label>
        <locationX>843</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indirect_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Event_Log_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Change_Time</name>
        <label>Assign Status Change Time</label>
        <locationX>190</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>platformEventLog.HRCFSL_Status_Change_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_History.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Platform_Event_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Direct_SA</name>
        <label>Has Direct SA</label>
        <locationX>510</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Indirect_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Direct SA No</defaultConnectorLabel>
        <rules>
            <name>Direct_SA_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Direct_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Direct_SA</targetReference>
            </connector>
            <label>Direct SA Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_History_Record</name>
        <label>Has History Record</label>
        <locationX>359</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>Create_Platform_Event_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>History Record no</defaultConnectorLabel>
        <rules>
            <name>History_Record_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_History</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Change_Time</targetReference>
            </connector>
            <label>History Record yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Indirect_SA</name>
        <label>Has Indirect SA?</label>
        <locationX>833</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Indirect SA No</defaultConnectorLabel>
        <rules>
            <name>Indirect_SA_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Indirect_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Indirect_SA</targetReference>
            </connector>
            <label>Indirect SA Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Platform Event Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Platform Event Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event_Log</name>
        <label>Create Platform Event Log</label>
        <locationX>369</locationX>
        <locationY>753</locationY>
        <inputReference>platformEventLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Direct_SA</name>
        <label>Direct SA</label>
        <locationX>364</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Direct_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Indirect_SA</name>
        <label>Indirect SA</label>
        <locationX>695</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Indirect_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order.RootWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SA_History</name>
        <label>SA History</label>
        <locationX>594</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_History_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointmentHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Order</name>
        <label>Work Order</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Direct_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HRCFSL_Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Work_Order</targetReference>
        </connector>
        <object>HRCFSL_Outbound_JDE_Work_Order__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>platformEventLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCFSL_Platform_Event_Log__c</objectType>
    </variables>
    <variables>
        <name>serviceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
