force-app/main/default/flows/HRCFSL_Country_Membership_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Country</name>
        <label>Add Country</label>
        <locationX>776</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>assignedCountries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serviceTerritoryMember.HRCFSL_Service_Territory_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_STM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Group_Membership</name>
        <label>Append Group Membership</label>
        <locationX>194</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>publicGroupMembershipsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>publicGroupMembership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Assigned_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Membership</name>
        <label>Assign Group Membership</label>
        <locationX>406</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>publicGroupMembership.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>publicGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicGroupMembership.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Group_Membership</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Country_Added</name>
        <label>Country Added?</label>
        <locationX>624</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Add_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Country Added No</defaultConnectorLabel>
        <rules>
            <name>Country_Added_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignedCountries</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>serviceTerritoryMember.HRCFSL_Service_Territory_Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_STM</targetReference>
            </connector>
            <label>Country Added Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FSL_Country_Group</name>
        <label>Is FSL Country Group</label>
        <locationX>682</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>For_Each_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Country Group No</defaultConnectorLabel>
        <rules>
            <name>Country_Group_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>publicGroup.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HRCFSL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Group_Membership</targetReference>
            </connector>
            <label>Country Group Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>countryGroupName</name>
        <dataType>String</dataType>
        <expression>&apos;HRCFSL &apos; &amp;{!assignedCountry}</expression>
    </formulas>
    <formulas>
        <name>serviceCenterComma</name>
        <dataType>String</dataType>
        <expression>{!serviceTerritoryMember.HRCFSL_Service_Territory_JDE_Id__c} &amp; &apos;,&apos;</expression>
    </formulas>
    <interviewLabel>HRCFSL Country Membership Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Country Membership Updates</label>
    <loops>
        <name>For_Each_Assigned_Country</name>
        <label>For Each Assigned Country</label>
        <locationX>311</locationX>
        <locationY>552</locationY>
        <assignNextValueToReference>assignedCountry</assignNextValueToReference>
        <collectionReference>assignedCountries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Country_Public_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Country_Group_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Membership</name>
        <label>For Each Membership</label>
        <locationX>434</locationX>
        <locationY>312</locationY>
        <assignNextValueToReference>publicGroupMembership</assignNextValueToReference>
        <collectionReference>publicGroupMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Public_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_STM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_STM</name>
        <label>For Each STM</label>
        <locationX>500</locationX>
        <locationY>461</locationY>
        <assignNextValueToReference>serviceTerritoryMember</assignNextValueToReference>
        <collectionReference>serviceTerritoryMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Country_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Assigned_Country</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Country_Group_Memberships</name>
        <label>Insert Country Group Memberships</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>publicGroupMembershipsToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Group_Membership</name>
        <label>Delete Group Membership</label>
        <locationX>845</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>For_Each_Membership</targetReference>
        </connector>
        <inputReference>publicGroupMembership</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_STM</name>
        <label>Get All STM</label>
        <locationX>139</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputReference>serviceTerritoryMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Service_Territory_JDE_Id__c</queriedFields>
        <queriedFields>HRCFSL_Service_Territory_Country__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Country_Public_Group</name>
        <label>Get Country Public Group</label>
        <locationX>436</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Group_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>countryGroupName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>publicGroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Memberships</name>
        <label>Get Group Memberships</label>
        <locationX>296</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>publicGroupMemberships</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>GroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>603</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_FSL_Country_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>publicGroupMembership.GroupId</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>publicGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>293</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>serviceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <startElementReference>Get_All_STM</startElementReference>
    <status>Active</status>
    <variables>
        <name>assignedCountries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>assignedServiceTerritories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>publicGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>publicGroupMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>publicGroupMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>publicGroupMembershipsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>serviceTerritoryMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
</Flow>
