force-app/main/default/flows/HRCFSL_Work_Order_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IBOAR_Ok</name>
        <label>IBOAR Ok</label>
        <locationX>312</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IBOAR_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ok</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Asset_Location</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Work Order Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Work Order Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IBOAR_Validation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Asset_Location</name>
        <label>Check Asset Location</label>
        <locationX>492</locationX>
        <locationY>216</locationY>
        <flowName>HRCFSL_Check_Asset_Location</flowName>
        <inputAssignments>
            <name>recVarWorkOrder</name>
            <value>
                <elementReference>varRecWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOutcome</assignToReference>
            <name>Outcome</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IBOAR_Validation</name>
        <label>IBOAR Validation</label>
        <locationX>176</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>IBOAR_Ok</targetReference>
        </connector>
        <flowName>HRCFSL_Check_IBOAR</flowName>
        <inputAssignments>
            <name>recVarWorkOrder</name>
            <value>
                <elementReference>varRecWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOutcome</assignToReference>
            <name>Outcome</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
