force-app/main/default/flows/HRCFSL_Set_Assigned_Engineer_on_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Work_Order_Needs_Update</name>
        <label>Work Order Needs Update</label>
        <locationX>436</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Update No</defaultConnectorLabel>
        <rules>
            <name>Update_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrder.HRCFSL_Assigned_Engineer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>serviceResource.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_Engineer_on_Work_Order</targetReference>
            </connector>
            <label>Update Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Set Assigned Engineer on Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Set Assigned Engineer on Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>183</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>serviceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Orders</name>
        <label>Get Work Orders</label>
        <locationX>306</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Needs_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Assigned_Engineer__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_Engineer_on_Work_Order</name>
        <label>Update Assigned Engineer on Work Order</label>
        <locationX>629</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_Assigned_Engineer__c</field>
            <value>
                <elementReference>serviceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>Get_Service_Resource</startElementReference>
    <status>Active</status>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
