force-app/main/default/flows/HRCFSL_Generate_Pricing_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>HRCFSL Generate Pricing Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Generate Pricing Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Pricing_Call_Event</name>
        <label>Create Pricing Call Event</label>
        <locationX>408</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Refresh1</targetReference>
        </connector>
        <inputAssignments>
            <field>HRCFSL_Customer_ID__c</field>
            <value>
                <elementReference>workOrder.HRCFSL_Location_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Work_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>HRCFSL_Pricing_Call__e</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>181</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Pricing_Call_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Customer_Number__c</queriedFields>
        <queriedFields>HRCFSL_Location_Number__c</queriedFields>
        <queriedFields>Customer_Asset_No__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Refresh1</name>
        <label>Refresh</label>
        <locationX>558</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Refresh</name>
            <fieldText>&lt;p&gt;Please refresh your browser window in order to see the quote pricing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Work_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
