force-app/main/default/flows/HRCFSL_Check_Asset_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Outcome_Ok</name>
        <label>Outcome Ok</label>
        <locationX>425</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ok</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Asset_Found</name>
        <label>Asset Found</label>
        <locationX>173</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Outcome_Ok</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recVarAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Allowed_Activity_Types</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Location_WO_Match_VR</name>
        <label>Asset Location WO Match VR</label>
        <locationX>423</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Incorrect_Asset_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Failed</defaultConnectorLabel>
        <rules>
            <name>Validation_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recVarWorkOrder.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recVarAllowedActTypes.HRCFSL_Component_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>recVarWorkOrder.HRCFSL_Activity_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recVarWorkOrder.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recVarAsset.LocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recVarWorkOrder.LocationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome_Ok</targetReference>
            </connector>
            <label>Validation Passed</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Check Asset WO Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Check Asset Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Allowed_Activity_Types</name>
        <label>Get Allowed Activity Types</label>
        <locationX>183</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Location_WO_Match_VR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not_Allowed_Activity_type_for_Prefill</stringValue>
            </value>
        </filters>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <outputReference>recVarAllowedActTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Component_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>178</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recVarWorkOrder.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>recVarAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <screens>
        <name>Incorrect_Asset_Location</name>
        <label>Incorrect Asset Location</label>
        <locationX>665</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;The Asset location does not match the Work Order location.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recVarAllowedActTypes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCFSL_Organization_Settings__mdt</objectType>
    </variables>
    <variables>
        <name>recVarAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>recVarWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
