force-app/main/default/flows/HRCFSL_Update_Service_Resource_Skills_Expiration_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Skill_list</name>
        <label>Add to Skill list</label>
        <locationX>660</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>SR_Skills_list_to_be_updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Service_Resource_Skills</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Count</name>
        <label>Increase Count</label>
        <locationX>791</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reached_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_SR_Skill_Expire_flag</name>
        <label>update SR Skill Expire flag</label>
        <locationX>482</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>Loop_Service_Resource_Skills.HRCFSL_Expired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Skill_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Reached_Limit</name>
        <label>Reached Limit</label>
        <locationX>785</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Loop_Service_Resource_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reached_Limit_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>390.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SR_Skills</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SE 25: for updating the service resource skill expiration flag if its end date is yesterday.</description>
    <formulas>
        <name>DatetimeBeforeYesterday</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 2</expression>
    </formulas>
    <formulas>
        <name>PreviousDatetime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 1</expression>
    </formulas>
    <formulas>
        <name>PreviousDay</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>Update Service Resource Skills Expiration Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Service Resource Skills Expiration Flag</label>
    <loops>
        <name>Loop_Service_Resource_Skills</name>
        <label>Loop Service Resource Skills</label>
        <locationX>653</locationX>
        <locationY>105</locationY>
        <collectionReference>Get_Service_Resource_Skill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_SR_Skill_Expire_flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SR_Skills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Resource_Skill</name>
        <label>Get Service Resource Skill expired</label>
        <locationX>483</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Resource_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>PreviousDatetime</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_Active_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_User_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResourceSkill</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Expired__c</queriedFields>
        <queriedFields>EffectiveEndDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SR_Skills</name>
        <label>Update SR Skills</label>
        <locationX>923</locationX>
        <locationY>103</locationY>
        <inputReference>SR_Skills_list_to_be_updated</inputReference>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Get_Service_Resource_Skill</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-07-24</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SR_Skills_list_to_be_updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
</Flow>
