force-app/main/default/flows/HRCFSL_Close_open_SA_on_closed_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Flag_SA_for_closure</name>
        <label>Flag SA for closure</label>
        <locationX>584</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>Get_Open_Service_Appointment.HRCFSL_Close_SA_from_WO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Service_Appointment_Exists</name>
        <label>Service Appointment Exists</label>
        <locationX>571</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Service_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_SA_for_closure</targetReference>
            </connector>
            <label>Exists_Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Close open SA on closed WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Close open SA on closed WO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Service_Appointment</name>
        <label>Get Open Service Appointment</label>
        <locationX>460</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Appointment_Exists</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_Close_SA_from_WO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>721</locationX>
        <locationY>284</locationY>
        <inputReference>Get_Open_Service_Appointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Open_Service_Appointment</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR  5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_SA_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_SA_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_SA_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_SA_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_SA_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
