force-app/main/default/flows/HRCFSL_Create_activity_record_in_work_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Create activity record for work order</description>
    <formulas>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>HRCFSL Create activity record in work order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Create activity record in work order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>create activity record related to wo</description>
        <name>Create_activity_record</name>
        <label>Create activity record</label>
        <locationX>652</locationX>
        <locationY>69</locationY>
        <inputAssignments>
            <field>HRCFSL_When_I_will_be_there__c</field>
            <value>
                <elementReference>When_I_will_be_there</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Who_I_spoke_with__c</field>
            <value>
                <elementReference>Who_I_spoke_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!ActivityDate} - Customer Contact Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Get warning message from organization setting custom metadata</description>
        <name>Get_warning_message</name>
        <label>Get warning message</label>
        <locationX>403</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>warningLabel</elementReference>
            </value>
        </filters>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>warningMessage</assignToReference>
            <field>HRCFSL_Component_Detail__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Get_Details</name>
        <label>Get Details</label>
        <locationX>530</locationX>
        <locationY>72</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_activity_record</targetReference>
        </connector>
        <fields>
            <name>displayWarningMessage</name>
            <fieldText>&lt;p&gt;{!warningMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_I_spoke_with</name>
            <dataType>String</dataType>
            <fieldText>Who I spoke with</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_I_will_be_there</name>
            <dataType>DateTime</dataType>
            <fieldText>When I will be there</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_warning_message</startElementReference>
    <status>Active</status>
    <variables>
        <description>work order id</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>warningLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WO warning message</stringValue>
        </value>
    </variables>
    <variables>
        <name>warningMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>warningmessageLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Get_WO_warning_message</stringValue>
        </value>
    </variables>
</Flow>
