force-app/main/default/flows/HRCFSL_Assign_Asset_on_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Asset_Id</name>
        <label>Assign Asset Id</label>
        <locationX>504</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>entitlement.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entitlement.HRCFSL_Integration_ERP_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entitlement.HRCFSL_Asset_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Entitlement</targetReference>
        </connector>
    </assignments>
    <interviewLabel>HRCFSL Assign Asset on Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Assign Asset on Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>352</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Asset_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_JDE_ASSET__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>entitlement.HRCFSL_Integration_ERP_Asset__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>asset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_JDE_ASSET__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>177</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>entitlementId</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>entitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Unique_ID__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>HRCFSL_Integration_ERP_Asset__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Entitlement</name>
        <label>Update Entitlement</label>
        <locationX>650</locationX>
        <locationY>55</locationY>
        <inputReference>entitlement</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>entitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
