force-app/main/default/flows/HRCFSL_SendEmailForServiceReportForWO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ExecuteApexToSendEmail</name>
        <label>ExecuteApexToSendEmail</label>
        <locationX>988</locationX>
        <locationY>300</locationY>
        <actionName>HRCFSL_ServiceReportHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IfEmailSent</targetReference>
        </connector>
        <inputParameters>
            <name>EmailRecipient</name>
            <value>
                <elementReference>EmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentRecordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendEmailConfirmation</name>
            <value>
                <elementReference>sendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceReportLayout</name>
            <value>
                <elementReference>Get_Quote_Template.DeveloperName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddEmailRecipient</name>
        <label>AddEmailRecipient</label>
        <locationX>1335</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddEmailScreen.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMoreEmailScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMoreEmailConfirmation</name>
        <label>AddMoreEmailConfirmation</label>
        <locationX>1475</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>AddMoreEmailDecisionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMoreEmailToggle.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMoreEmailDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailConfirmatin</name>
        <label>EmailConfirmatin</label>
        <locationX>841</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>sendEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailServiceReport.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddMoreEmailDecision</name>
        <label>AddMoreEmailDecision</label>
        <locationX>1212</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreEmailDecisionVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenTwo</targetReference>
            </connector>
            <label>IfYes</label>
        </rules>
        <rules>
            <name>IfNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreEmailDecisionVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExecuteApexToSendEmail</targetReference>
            </connector>
            <label>IfNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfEmailSent</name>
        <label>IfEmailSent</label>
        <locationX>758</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>emailsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailServiceReportMessage</targetReference>
            </connector>
            <label>emailsent</label>
        </rules>
        <rules>
            <name>emailnotsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServiceReportMessageMeta</targetReference>
            </connector>
            <label>emailnotsent</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmailDecision</name>
        <label>SendEmailDecision</label>
        <locationX>974</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfSendEmailIsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenTwo</targetReference>
            </connector>
            <label>IfSendEmailIsYes</label>
        </rules>
        <rules>
            <name>DonotsendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExecuteApexToSendEmail</targetReference>
            </connector>
            <label>DonotsendEmail</label>
        </rules>
    </decisions>
    <interviewLabel>SendEmailForServiceReportForWO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendEmailForServiceReportForWO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>EmailServiceReportMessage</name>
        <label>EmailServiceReportMessage</label>
        <locationX>582</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinalMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmailServiceReportMessage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Template</name>
        <label>Get Quote Template</label>
        <locationX>555</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenOne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCFSL_Quote_Template_Name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ServiceReportMessageMeta</name>
        <label>ServiceReportMessageMeta</label>
        <locationX>578</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceReportCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceReportMessage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AddMoreEmailScreen</name>
        <label>AddMoreEmailScreen</label>
        <locationX>1476</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddMoreEmailConfirmation</targetReference>
        </connector>
        <fields>
            <name>AddMoreEmailToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to add more email address ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>SendEmailYes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>SendEmailNo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalMessage</name>
        <label>FinalMessage</label>
        <locationX>422</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMesssage</name>
            <fieldText>&lt;p&gt;{!EmailServiceReportMessage.HRCFSL_Component_Detail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Send Email Confirmation</description>
        <name>ScreenOne</name>
        <label>ScreenOne</label>
        <locationX>713</locationX>
        <locationY>67</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EmailConfirmatin</targetReference>
        </connector>
        <fields>
            <name>EmailServiceReport</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>SendEmailYes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>SendEmailNo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to email this Service Report as well ?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Add more recipients</description>
        <name>ScreenTwo</name>
        <label>ScreenTwo</label>
        <locationX>1219</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddEmailRecipient</targetReference>
        </connector>
        <fields>
            <name>AddEmailScreen</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please enter the email address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ServiceReportCreated</name>
        <label>ServiceReportCreated</label>
        <locationX>398</locationX>
        <locationY>425</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SRCreated</name>
            <fieldText>&lt;p&gt;{!ServiceReportMessageMeta.HRCFSL_Component_Detail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Get_Quote_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddMoreEmailDecisionVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailSentMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Your email with service report will be sent shortly.</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>send email</description>
        <name>sendEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SendEmailNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>SendEmailYes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceReportMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your service report will be generated shortly.</stringValue>
        </value>
    </variables>
</Flow>
