force-app/main/default/flows/HRCFSL_Copy_Kit_Information_to_Children.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Work_Order_for_Update</name>
        <label>Add Work Order for Update</label>
        <locationX>837</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>workOrdersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentChild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_On_Date</name>
        <label>Assign Billing On Date</label>
        <locationX>547</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Patient_on_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Patient_on_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fields_from_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_from_Parent</name>
        <label>Assign Fields from Parent</label>
        <locationX>661</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Assigned_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Assigned_Engineer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Actual_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Actual_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Actual_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Actual_End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Contact_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Contact_Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Contact_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Contact_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Contact_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Contact_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Ward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Ward__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Signee_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Signee_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Signee_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Signee_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Signee_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Signee_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Patient_Off_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Patient_Off_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentChild.HRCFSL_Patient_Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Order_in_Kit.HRCFSL_Patient_Room__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Work_Order_for_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Kit_or_Clone</name>
        <label>Is Kit or Clone</label>
        <locationX>198</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>For_Each_Child</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kit or Clone no</defaultConnectorLabel>
        <rules>
            <name>Kit_or_Clone_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentChild.HRCFSL_Is_Kit_Child__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentChild.HRCFSL_Is_Cloned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Copy_Billing_On_Date</targetReference>
            </connector>
            <label>Kit or Clone yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_to_Update</name>
        <label>Records to Update?</label>
        <locationX>549</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>Update No</defaultConnectorLabel>
        <rules>
            <name>Update_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrdersToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Children</targetReference>
            </connector>
            <label>Update Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Copy_Billing_On_Date</name>
        <label>Should Copy Billing On Date</label>
        <locationX>337</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Assign_Fields_from_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Copy Billing On Date</defaultConnectorLabel>
        <rules>
            <name>Copy_Billing_On_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentChild.HRCFSL_Patient_on_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_On_Date</targetReference>
            </connector>
            <label>Copy Billing On Date</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL Copy Kit Information to Children {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Copy Kit Information to Children</label>
    <loops>
        <name>For_Each_Child</name>
        <label>For Each Child</label>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>currentChild</assignNextValueToReference>
        <collectionReference>Get_All_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Kit_or_Clone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Children</name>
        <label>Get All Children</label>
        <locationX>278</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Child</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RootWorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Is_Kit_Child__c</queriedFields>
        <queriedFields>HRCFSL_Is_Cloned__c</queriedFields>
        <queriedFields>HRCFSL_Patient_on_date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Work_Order_in_Kit</name>
        <label>Get Parent Work Order in Kit</label>
        <locationX>166</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RootWorkOrderId</queriedFields>
        <queriedFields>HRCFSL_Ward__c</queriedFields>
        <queriedFields>HRCFSL_Patient_Room__c</queriedFields>
        <queriedFields>HRCFSL_Signee_Email__c</queriedFields>
        <queriedFields>HRCFSL_Signee_Title__c</queriedFields>
        <queriedFields>HRCFSL_Signee_Name__c</queriedFields>
        <queriedFields>HRCFSL_Patient_Off_Date__c</queriedFields>
        <queriedFields>HRCFSL_Patient_on_date__c</queriedFields>
        <queriedFields>HRCFSL_Actual_End__c</queriedFields>
        <queriedFields>HRCFSL_Actual_Start__c</queriedFields>
        <queriedFields>HRCFSL_Contact_Department__c</queriedFields>
        <queriedFields>HRCFSL_Contact_Email__c</queriedFields>
        <queriedFields>HRCFSL_Contact_Phone__c</queriedFields>
        <queriedFields>HRCFSL_Contact_Last_Name__c</queriedFields>
        <queriedFields>HRCFSL_Contact_First_Name__c</queriedFields>
        <queriedFields>HRCFSL_Contact_Title__c</queriedFields>
        <queriedFields>HRCFSL_PO__c</queriedFields>
        <queriedFields>HRCFSL_Assigned_Engineer__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Children</name>
        <label>Update Children</label>
        <locationX>740</locationX>
        <locationY>54</locationY>
        <inputReference>workOrdersToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Get_Parent_Work_Order_in_Kit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentChild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrdersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
