force-app/main/default/flows/HRCFSL_Update_Work_Order_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Check if Metadata Record is Found</description>
        <name>HRCFSL_Metadata_Record_found</name>
        <label>Metadata found?</label>
        <locationX>304</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Metadata_Record_found_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOStatusMetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HRCFSL_Update_Work_Order_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updating Work Order Status based on service appointment</description>
    <formulas>
        <name>TechnicianCommentsToUpdate</name>
        <dataType>String</dataType>
        <expression>{!WorkOrderTechnicianComments} &amp; &apos; &apos; &amp; {!ServiceAppointmentCancelReason}</expression>
    </formulas>
    <interviewLabel>HRCFSL_Update Work Order Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL_Update Work Order Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMetadata</name>
        <label>GetMetadata</label>
        <locationX>157</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HRCFSL_Metadata_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Service_Appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentstatus</elementReference>
            </value>
        </filters>
        <object>Status_Mapping_SA_WO__mdt</object>
        <outputReference>WOStatusMetadata</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_WO_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update WorkOrder status</description>
        <name>HRCFSL_Update_Work_Order_Status</name>
        <label>Update Work Order Status</label>
        <locationX>508</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_Comments__c</field>
            <value>
                <elementReference>TechnicianCommentsToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Signee_Name__c</field>
            <value>
                <elementReference>ServiceAppointmentSigneeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>WOStatusMetadata.HRCFSL_WO_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>GetMetadata</startElementReference>
    <status>Active</status>
    <variables>
        <name>ServiceAppointmentCancelReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentSigneeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status</description>
        <name>ServiceAppointmentstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Order record id related to Service Appointment</description>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderTechnicianComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOStatusMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Status_Mapping_SA_WO__mdt</objectType>
    </variables>
</Flow>
