force-app/main/default/flows/HRCFSL_Update_SA_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignRecId</name>
        <label>AssignRecId</label>
        <locationX>39</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ConfirmRejectSA</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>DontRejectSA</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_none_or_not</name>
        <label>Check if none or not</label>
        <locationX>395</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>Check_If_Other_Than_None_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_none_or_not_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointmentId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Reject_SA</targetReference>
            </connector>
            <label>Check if none or not update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Other_Than_None_process</name>
        <label>Check If Other Than None</label>
        <locationX>390</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Confirm_Reject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Other_Than_None_processs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointmentId.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InProgress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceAppointmentId.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CannotComplete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceAppointmentId.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceAppointmentId.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Reject</targetReference>
            </connector>
            <label>Check If Other Than None processs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Rec</name>
        <label>Check Rec</label>
        <locationX>173</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chec_RecId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecId</targetReference>
            </connector>
            <label>Chec RecId</label>
        </rules>
    </decisions>
    <decisions>
        <name>HRCFSL_Update_If_Selected_Yes</name>
        <label>Update If Selected Yes</label>
        <locationX>744</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Not_Reject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HRCFSL_If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConfirmRejectSA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Resource</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCFSL_Update_SA_Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL_Update_SA_Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>147</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_none_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>serviceAppointmentId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Resource</name>
        <label>Update Service Resource</label>
        <locationX>1061</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Cannot_Reject</name>
        <label>Cannot Reject</label>
        <locationX>677</locationX>
        <locationY>573</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotUpdate</name>
            <fieldText>&lt;p&gt;You cannot reject this Service Appointment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cannot_Reject_SA</name>
        <label>Cannot Reject SA</label>
        <locationX>799</locationX>
        <locationY>763</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotReject</name>
            <fieldText>&lt;p&gt;This Service Appointment cannot be rejected as it is not scheduled yet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Reject</name>
        <label>Confirm Reject</label>
        <locationX>515</locationX>
        <locationY>407</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HRCFSL_Update_If_Selected_Yes</targetReference>
        </connector>
        <fields>
            <name>Confirm_Rejection</name>
            <fieldText>&lt;p&gt;Are you sure to reject this Appointment?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Option</name>
            <choiceReferences>ConfirmRejectSA</choiceReferences>
            <choiceReferences>DontRejectSA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Reject</name>
        <label>Not Reject</label>
        <locationX>747</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Confirm</name>
            <fieldText>&lt;p&gt;Service Appointment not rejected, please close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1341</locationX>
        <locationY>303</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Reject</name>
            <fieldText>&lt;p&gt;Service appointment is successfully Rejected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Check_Rec</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>serviceAppointmentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
