force-app/main/default/flows/HRCFSL_Service_Center_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Service_Territory</name>
        <label>Add Service Territory</label>
        <locationX>644</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>assignedCountries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serviceTerritoryMember.HRCFSL_Service_Territory_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Service_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Service_Territory_JDE_ID</name>
        <label>Append Service Territory JDE ID</label>
        <locationX>544</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>assignedServiceTerritories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serviceCenterComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_STM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Country</name>
        <label>New Country?</label>
        <locationX>402</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>New_Service_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Country No</defaultConnectorLabel>
        <rules>
            <name>New_Country_Yes</name>
            <conditionLogic>not(1)</conditionLogic>
            <conditions>
                <leftValueReference>assignedCountries</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>serviceTerritoryMember.HRCFSL_Service_Territory_Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_Territory</targetReference>
            </connector>
            <label>New Country Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Service_Territory</name>
        <label>New Service Territory</label>
        <locationX>408</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>For_Each_STM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New ST No</defaultConnectorLabel>
        <rules>
            <name>New_ST_Yes</name>
            <conditionLogic>not(1)</conditionLogic>
            <conditions>
                <leftValueReference>assignedServiceTerritories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>serviceTerritoryMember.HRCFSL_Service_Territory_JDE_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Service_Territory_JDE_ID</targetReference>
            </connector>
            <label>New ST Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>countryGroupName</name>
        <dataType>String</dataType>
        <expression>&apos;HRCFSL &apos; &amp;{!assignedCountry}</expression>
    </formulas>
    <formulas>
        <name>serviceCenterComma</name>
        <dataType>String</dataType>
        <expression>{!serviceTerritoryMember.HRCFSL_Service_Territory_JDE_Id__c} &amp; &apos;,&apos;</expression>
    </formulas>
    <interviewLabel>HRCFSL Service Center Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCFSL Service Center Updates</label>
    <loops>
        <name>For_Each_STM</name>
        <label>For Each STM</label>
        <locationX>280</locationX>
        <locationY>264</locationY>
        <assignNextValueToReference>serviceTerritoryMember</assignNextValueToReference>
        <collectionReference>serviceTerritoryMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Country</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_STM</name>
        <label>Get All STM</label>
        <locationX>139</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_STM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputReference>serviceTerritoryMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Service_Territory_JDE_Id__c</queriedFields>
        <queriedFields>HRCFSL_Service_Territory_Country__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>64</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>serviceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>188</locationX>
        <locationY>460</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCFSL_All_Service_Territories__c</field>
            <value>
                <elementReference>assignedServiceTerritories</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_STM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedCountries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>assignedServiceTerritories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>publicGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>publicGroupMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>publicGroupMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>publicGroupMembershipsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>serviceTerritoryMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
</Flow>
