force-app/main/default/flows/HRCFSL_Text_Inspection_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>915</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>inspectionStep.HRCFSL_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>comments_required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionStep.HRCFSL_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionStep.HRCFSL_Visited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inspection_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Notrequired</name>
        <label>Assign Values</label>
        <locationX>925</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>inspectionStep.HRCFSL_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_notrequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionStep.HRCFSL_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_not_required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionStep.HRCFSL_Visited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inspection_Step</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Required</name>
        <label>Required?</label>
        <locationX>419</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>input_notrequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Is_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inspectionStep.HRCFSL_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>input_screen</targetReference>
            </connector>
            <label>Is Required</label>
        </rules>
    </decisions>
    <formulas>
        <name>inputRange</name>
        <dataType>Number</dataType>
        <expression>VALUE({!inspectionStep.HRCFSL_Input__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lower</name>
        <dataType>Number</dataType>
        <expression>{!inspectionStep.HRCFSL_Lower_Range__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>upper</name>
        <dataType>Number</dataType>
        <expression>{!inspectionStep.HRCFSL_Upper_Range__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>HRCFSL_Text_Inspection_Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Text</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordUpdates>
        <name>Update_Inspection_Step</name>
        <label>Update Inspection Step</label>
        <locationX>1170</locationX>
        <locationY>186</locationY>
        <inputReference>inspectionStep</inputReference>
    </recordUpdates>
    <screens>
        <name>input_notrequired</name>
        <label>Text Input</label>
        <locationX>725</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_Notrequired</targetReference>
        </connector>
        <fields>
            <name>ui_Name</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!inspectionStep.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ui_notrequired_description</name>
            <fieldText>&lt;p&gt;{!description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_not_required</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>inspectionStep.HRCFSL_Input__c</elementReference>
            </defaultValue>
            <fieldText>Enter Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments_notrequired</name>
            <defaultValue>
                <stringValue>{!inspectionStep.HRCFSL_Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>input_screen</name>
        <label>Text Input</label>
        <locationX>715</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!inspectionStep.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ui_description</name>
            <fieldText>&lt;p&gt;{!description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_required</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>inspectionStep.HRCFSL_Input__c</elementReference>
            </defaultValue>
            <fieldText>Enter Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>comments_required</name>
            <defaultValue>
                <stringValue>{!inspectionStep.HRCFSL_Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Required</startElementReference>
    <status>Active</status>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inspectionStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HRCFSL_Inspection_Step__c</objectType>
    </variables>
</Flow>
