force-app/main/default/flows/HRCSVC_Create_Return_Order_and_ROLI_for_Evaluation_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Return_Order_Values</name>
        <label>Assign Return Order Values</label>
        <locationX>567</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Ship_To_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Ship_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Bill_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.Sold_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Return_Order_Values_0</name>
        <label>Assign Return Order Values</label>
        <locationX>1242</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Ship_To_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Ship_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Bill_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.Sold_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Return_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_on_ROLI</name>
        <label>Assign Values on ROLI</label>
        <locationX>685</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>ROLIRec.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Special_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ReasonForReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Return_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnOrderRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.QuantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_on_ROLI_0</name>
        <label>Assign Values on ROLI</label>
        <locationX>465</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>ROLIRec.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Special_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnOrderRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.QuantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_on_ROLI_0_0</name>
        <label>Assign Values on ROLI</label>
        <locationX>929</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>ROLIRec.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Special_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.QuantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_on_ROLI_0_0_0</name>
        <label>Assign Values on ROLI</label>
        <locationX>945</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>ROLIRec.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Asset__r.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Special_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Order__r.HRCSVC_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ReasonForReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Return_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.QuantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROLIRec.HRCSVC_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_OLI_record_is_available</name>
        <label>Check if OLI record is available</label>
        <locationX>168</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLIVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Return_Order</targetReference>
            </connector>
            <label>available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_record_is_found</name>
        <label>Check if record is found</label>
        <locationX>556</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_type_0</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
        <rules>
            <name>Record_Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Return_Order_Values</targetReference>
            </connector>
            <label>Record Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_type</name>
        <label>Check Order type</label>
        <locationX>563</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_on_ROLI_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Order Type</defaultConnectorLabel>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLIVariable.Order__r.HRCSVC_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_on_ROLI</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_type_0</name>
        <label>Check Order type</label>
        <locationX>740</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_on_ROLI_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Order Type</defaultConnectorLabel>
        <rules>
            <name>Evaluation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLIVariable.Order__r.HRCSVC_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_on_ROLI_0_0_0</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
    </decisions>
    <interviewLabel>Create Return Order and ROLI for Evaluation Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Return Order and ROLI for Evaluation Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Return_Order</name>
        <label>Create Return Order</label>
        <locationX>571</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Check_Order_type</targetReference>
        </connector>
        <inputReference>ReturnOrderRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Order_Line_Item</name>
        <label>Create Return Order Line Item</label>
        <locationX>575</locationX>
        <locationY>936</locationY>
        <inputReference>ROLIRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Order_Line_Item_0</name>
        <label>Create Return Order Line Item</label>
        <locationX>1100</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Assign_Return_Order_Values_0</targetReference>
        </connector>
        <inputReference>ROLIRec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>373</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_record_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCSVC_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OLIVariable.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Return_Order</name>
        <label>Update Return Order</label>
        <locationX>1383</locationX>
        <locationY>199</locationY>
        <inputReference>ReturnOrderRec</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_OLI_record_is_available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OLIVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ReturnOrderRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>ROLIRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
</Flow>
