force-app/main/default/flows/HRCSVC_Create_Work_Order_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Doc_Type</name>
        <label>Assign Doc Type</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>DocTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType.HRCFSL_Doc_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Asset</name>
        <label>Assign Existing Asset</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>rcAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_from_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Asset</name>
        <label>Assign New Asset</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>rcAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_Entitlement</name>
        <label>Assign Null Entitlement</label>
        <locationX>666</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>Entitlement_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Warranty_is_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_Warranty</name>
        <label>Assign Null Warranty</label>
        <locationX>666</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>AssetWarrantyId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capital_Paging_Team</name>
        <label>Capital Paging Team</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Paging_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Entitlement_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Comm_Capital_Repair_Paging_Team</name>
        <label>Comm Capital Repair Paging Team</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Paging_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Entitlement_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_IE_Paging_Team</name>
        <label>Field IE Paging Team</label>
        <locationX>1106</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Paging_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Entitlement_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rental_Paging_Team</name>
        <label>Rental Paging Team</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Paging_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Entitlement_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_existing_Paging_Team</name>
        <label>Use existing Paging Team</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Paging_Team</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PagingTeamPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Entitlement_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Null_Entitlement</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>CapitalRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Capital</stringValue>
        </value>
    </constants>
    <constants>
        <name>FieldIEWO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field_IE</stringValue>
        </value>
    </constants>
    <constants>
        <name>RentalRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rental</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Asset_changed</name>
        <label>Asset changed from Case</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Asset_from_Case.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Contract_and_Asset_Warranty_on_Case</name>
        <label>Check Service Contract and Asset Warranty on Case</label>
        <locationX>710</locationX>
        <locationY>4214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Contract_Not_null_and_Asset_Warranty_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.ServiceContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.HRCSVC_AssetWarrantyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order_0</targetReference>
            </connector>
            <label>Service Contract Not null and  Asset Warranty is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_is_not_null</name>
        <label>Entitlement is not null?</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Warranty_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Not_Null_and_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_is_not_null</targetReference>
            </connector>
            <label>Not Null and required</label>
        </rules>
        <rules>
            <name>Null_but_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_is_null_0</targetReference>
            </connector>
            <label>Null but required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_is_Required</name>
        <label>Entitlement is Required?</label>
        <locationX>710</locationX>
        <locationY>3182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_is_Required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Null_Entitlement</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_is_not_null</name>
        <label>Record Type is not null</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Get_Entitlement_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paging_Team_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PagingTeamPicklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_existing_Paging_Team</targetReference>
            </connector>
            <label>Paging Team entered</label>
        </rules>
        <rules>
            <name>CareComm_Capital</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HRCFSL_Capital_Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rcAsset.HRCFSL_Real_Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HRCFSL_Capital_Preventative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comm_Capital_Repair_Paging_Team</targetReference>
            </connector>
            <label>CareComm Capital</label>
        </rules>
        <rules>
            <name>Caprital_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CapitalRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capital_Paging_Team</targetReference>
            </connector>
            <label>Capital Record Type</label>
        </rules>
        <rules>
            <name>Rental_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RentalRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rental_Paging_Team</targetReference>
            </connector>
            <label>Rental Record Type</label>
        </rules>
        <rules>
            <name>Field_IE_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FieldIEWO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_IE_Paging_Team</targetReference>
            </connector>
            <label>Field IE WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warranty_is_not_null</name>
        <label>Warranty is not null?</label>
        <locationX>710</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Screen2_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Not_Null_and_required_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetWarrantyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_0_0_0_0</targetReference>
            </connector>
            <label>Not Null and required</label>
        </rules>
        <rules>
            <name>Null_but_required_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetWarrantyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_is_null_0</targetReference>
            </connector>
            <label>Null but required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warranty_is_Required</name>
        <label>Warranty is Required?</label>
        <locationX>710</locationX>
        <locationY>3518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetWarrantyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocTypeValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Null_Warranty</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>SE-1241: This flow is invoked from Quick action on Case - Create Work Order</description>
    <dynamicChoiceSets>
        <name>ActivityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCFSL_Activity_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCFSL_Doc_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PagingTeamChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCFSL_Paging_Team__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Valid_Entitlements</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Active_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Valid_Warranties</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCSVC_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Warranty_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>HRCSVC_Asset_Warranty__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ContactDepartment</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Contact.Department})),LEFT({!Get_Contact.Department},30),&quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>ContactFirst</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Contact.FirstName}),&quot;.&quot;,LEFT({!Get_Contact.FirstName},30))</expression>
    </formulas>
    <formulas>
        <name>ContactLast</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.LastName},25)</expression>
    </formulas>
    <formulas>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Contact.Phone})),LEFT({!Get_Contact.Phone},20),
IF(NOT(ISBLANK({!Get_Contact.MobilePhone})),LEFT({!Get_Contact.MobilePhone},20),&quot;.&quot;))</expression>
    </formulas>
    <formulas>
        <name>ContactTitle</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.Title},40)</expression>
    </formulas>
    <interviewLabel>HRCSVC Create Work Order from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Create Work Order from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>710</locationX>
        <locationY>3974</locationY>
        <assignRecordIdToReference>Created_Work_Order_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Entitlement_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Department__c</field>
            <value>
                <elementReference>ContactDepartment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Email__c</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_First_Name__c</field>
            <value>
                <elementReference>ContactFirst</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Last_Name__c</field>
            <value>
                <elementReference>ContactLast</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Phone__c</field>
            <value>
                <elementReference>ContactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Title__c</field>
            <value>
                <elementReference>ContactTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Paging_Team__c</field>
            <value>
                <elementReference>Paging_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Location.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_WorkType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_from_Case</name>
        <label>Get Asset from Case</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Warranty</name>
        <label>Get_Asset_Warranty</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCSVC_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Warranty_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>HRCSVC_Asset_Warranty__c</object>
        <outputAssignments>
            <assignToReference>AssetWarrantyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_from_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chosen_Entitlement</name>
        <label>Get_Chosen_Entitlement</label>
        <locationX>710</locationX>
        <locationY>2942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chosen_Warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entitlement_Filter_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Active_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>Entitlement_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Chosen_Warranty</name>
        <label>Get_Chosen_Warranty</label>
        <locationX>710</locationX>
        <locationY>3062</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement_is_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Warranty</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Warranty_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>HRCSVC_Asset_Warranty__c</object>
        <outputAssignments>
            <assignToReference>AssetWarrantyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>710</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_0_0</name>
        <label>Get Entitlement</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Active_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>Entitlement_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Asset</name>
        <label>Get New Asset</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkType.HRCFSL_Record_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType</name>
        <label>Get WorkType</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>710</locationX>
        <locationY>4094</locationY>
        <connector>
            <targetReference>Check_Service_Contract_and_Asset_Warranty_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Created_Work_Order_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Entitlement_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_PO__c</field>
            <value>
                <elementReference>PO_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_AssetWarrantyId__c</field>
            <value>
                <elementReference>AssetWarrantyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Concession_Approved_by__c</field>
            <value>
                <elementReference>Approver_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Concession_Date__c</field>
            <value>
                <elementReference>ConcessionDate_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Concession_Reason__c</field>
            <value>
                <elementReference>Notes_0_0</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_0</name>
        <label>Update Work Order</label>
        <locationX>578</locationX>
        <locationY>4334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Created_Work_Order_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_AssetWarrantyId__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>Get_Case.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Entitlement_is_null_0</name>
        <label>Entitlement is null</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Null_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 13, 13);&quot;&gt;There is no active entitlement for the selected asset or it doesn&apos;t match the lookup filter.&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen 1</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_changed</targetReference>
        </connector>
        <fields>
            <name>WorkTypeLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WorkTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkType.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WorkType.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PagingTeamPicklist</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>PagingTeamChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Paging Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Asset</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Asset_from_Case.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.AccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.ContactId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Location</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LocationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.HRCSVC_Location__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Get_Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0_0_0</name>
        <label>Screen 2</label>
        <locationX>710</locationX>
        <locationY>2822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Chosen_Entitlement</targetReference>
        </connector>
        <fields>
            <name>Asset_Warranty</name>
            <choiceReferences>Valid_Warranties</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset_Warranty</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocTypeValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SV</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Entitlement_Filter_0</name>
            <choiceReferences>Valid_Entitlements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entitlement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocTypeValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PO_0_0</name>
            <dataType>String</dataType>
            <fieldText>PO (max 15 chars)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;PO cannot exceed 15 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!PO_0_0}) &lt; 16</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocTypeValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SN</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes_0_0</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocTypeValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SU</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approver_0_0</name>
            <dataType>String</dataType>
            <fieldText>Approver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocTypeValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SU</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConcessionDate_0_0</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocTypeValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SU</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warranty_is_null_0</name>
        <label>Warranty is null</label>
        <locationX>666</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Null_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 13, 13);&quot;&gt;There is no active warranty for the selected asset or it doesn&apos;t match the lookup filter.&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetWarrantyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Created_Work_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Entitlement_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paging_Team</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>rcAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Simplehyphen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>_</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>WorkTypeKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
