force-app/main/default/flows/HRCSVC_Assign_Account_Protocol_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Protocol_on_Case</name>
        <label>Assign Protocol on Case</label>
        <locationX>739</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>CaseRec.HRCSVC_Account_Protocol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Additional_Account_Info.HRCSVC_Account_Protocol__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Account</name>
        <label>Has Account?</label>
        <locationX>167</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Account No</defaultConnectorLabel>
        <rules>
            <name>Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRec.HRCSVC_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRec.HRCSVC_Location__r.HRCFSL_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Additional_Account_Info</targetReference>
            </connector>
            <label>Account Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_Protocol</name>
        <label>Has Account Protocol?</label>
        <locationX>574</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Protocol No</defaultConnectorLabel>
        <rules>
            <name>Protocol_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Additional_Account_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Protocol_on_Case</targetReference>
            </connector>
            <label>Protocol Yes</label>
        </rules>
    </decisions>
    <interviewLabel>HRCSVC Assign Account Protocol on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Assign Account Protocol on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Additional_Account_Info</name>
        <label>Get Additional Account Info</label>
        <locationX>381</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Account_Protocol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRec.HRCSVC_Location__r.HRCFSL_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Protocol_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRec.HRCSVC_Protocol_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Additional_Account_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>573</locationX>
        <locationY>414</locationY>
        <inputReference>CaseRec</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Has_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
