force-app/main/default/flows/HRCSVC_Create_Parts_Order_On_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>1189</locationX>
        <locationY>686</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Order__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewOrderRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>New_Parts_Order_Line_Item</name>
        <label>New Parts Order Line Item</label>
        <locationX>1049</locationX>
        <locationY>558</locationY>
        <actionName>Order__c.HRCSVC_New_Part_Order_Line_Item</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Add_More_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Product__c</name>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Quantity__c</name>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>NewOrderRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>New_Order_Record</name>
        <label>New Order Record</label>
        <locationX>724</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>carrier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Delivery_Instruction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Instructions_Special_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Internal_Order_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Order_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Proposal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Ship_To_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_To.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Carrier_Level_of_Service</name>
        <label>Set Carrier Level of Service</label>
        <locationX>751</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>NewOrderRecord.HRCSVC_Carrier_Level_of_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>carrierlevelservice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceSH_HouseOrder</name>
        <choiceText>SH - House Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SH</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSO_SalesOrder</name>
        <choiceText>SO - Sales Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SO</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSP_SalesProposal</name>
        <choiceText>SP - Sales Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SP</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSW_ServiceWarrantyOrder</name>
        <choiceText>SW - Service Warranty Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SW</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_More_Products</name>
        <label>Add More Products</label>
        <locationX>768</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_More.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Line_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>JDE_ship_to_is_of_type_Entity</name>
        <label>JDE ship to is of type Entity?</label>
        <locationX>588</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>New_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ship_to_Location_Record.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ship_to_Location_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SE-1914: added 4 order types</description>
    <dynamicChoiceSets>
        <name>CarrierLevelofService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_Carrier_Level_of_Service__c</picklistField>
        <picklistObject>Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Order_Type_Record_Type</name>
        <dataType>String</dataType>
        <displayField>HRCSVC_Order_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_RT.Id</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
        <sortField>HRCSVC_Order_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ordertype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HRCSVC_Order_Type__c</picklistField>
        <picklistObject>Order__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Record_Type</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>HRCSVC Create Parts Order On Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Create Parts Order On Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order_0</name>
        <label>Create Order</label>
        <locationX>833</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Set_Carrier_Level_of_Service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>NewOrderRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>177</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_RT</name>
        <label>Get Order RT</label>
        <locationX>169</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCSVC_Parts_Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ship_to_Location_Record</name>
        <label>Get Ship-to Location Record</label>
        <locationX>425</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JDE_ship_to_is_of_type_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ship_To.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>894</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Create_Order_Line_Item</targetReference>
        </connector>
        <inputReference>NewOrderRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Order_Line_Item</name>
        <label>Create Order Line Item</label>
        <locationX>776</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Parts_Order_Line_Item</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Order_Line_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Add_More</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add another product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Order_Screen</name>
        <label>Create Order Screen</label>
        <locationX>292</locationX>
        <locationY>178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Ship_to_Location_Record</targetReference>
        </connector>
        <fields>
            <name>Order_Type</name>
            <choiceReferences>choiceSH_HouseOrder</choiceReferences>
            <choiceReferences>choiceSO_SalesOrder</choiceReferences>
            <choiceReferences>choiceSP_SalesProposal</choiceReferences>
            <choiceReferences>choiceSW_ServiceWarrantyOrder</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceSO_SalesOrder</defaultSelectedChoiceReference>
            <fieldText>Order Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>HRCSVC_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Ship_To</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>HRCSVC_Ship_To_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.HRCSVC_Location__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Entitlement</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>HRCSVC_Entitlement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Entitlement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.EntitlementId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PO_Number</name>
            <dataType>String</dataType>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Order_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SO</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Order_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SX</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Order_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>S6</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Order_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>S4</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CarrierPicklists</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>HRCSVC_Carrier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>HRCSVC_Carrier_Level_of_Service__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>carrierlevelservice</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>carrier</assignToReference>
                <name>topValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Delivery_Instructions_Special_Instructions</name>
            <dataType>String</dataType>
            <fieldText>Delivery Instructions / Special Instructions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Internal_Order_Notes</name>
            <dataType>String</dataType>
            <fieldText>Internal Order Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1013</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;There was an error while creating your Order. Please try again or contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ship_to_Location_Error</name>
        <label>Ship-to-Location Error</label>
        <locationX>597</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Ship_to_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The account you have selected is not eligible for an order to be placed. JDE ship to is of type Entity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>carrier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carrierlevelservice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
