force-app/main/default/flows/HRCSVC_Update_Asset_Software_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Software_Version</name>
        <label>Update Software Version</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Update_Software_Loop.HRCSVC_Software_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SoftwareVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Software_Loop.HRCSVC_Upgrade_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Software_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>HRCSVC Update Asset Software Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Update Asset Software Version</label>
    <loops>
        <name>Update_Software_Loop</name>
        <label>Update Software Loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Child_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Software_Version</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Asset_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Assets</name>
        <label>Get Child Assets</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Software_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCFSL_Model_Description__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>INSTALLATION</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCSVC_Software_Version__c</queriedFields>
        <queriedFields>HRCSVC_Upgrade_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Records</name>
        <label>Update Asset Records</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>Get_Child_Assets</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Assets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SoftwareVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpgradeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
