force-app/main/default/flows/HRCSVC_WorkOrder_Before_Save_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AccountUpdateFromLocation</name>
        <label>AccountUpdateFromLocation</label>
        <locationX>957</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_Service_Report_Language_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ward_to_WO</name>
        <label>Add Ward to WO</label>
        <locationX>372</locationX>
        <locationY>4799</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Ward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ward.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tech_Gen_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_to_Work_Order</name>
        <label>Assign Asset to Work Order</label>
        <locationX>284</locationX>
        <locationY>1281</locationY>
        <assignmentItems>
            <assignToReference>$Record.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Integration_ERP_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asset_and_Location_on_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_to_Work_Order</name>
        <label>Assign Record Type to Work Order</label>
        <locationX>71</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Doc_Activity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enforce_SWORD_on_Creation</name>
        <label>Enforce SWORD on Creation</label>
        <locationX>996</locationX>
        <locationY>4178</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_SWORD_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tech_Generated_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParentWoIdUpdate</name>
        <label>ParentWoIdUpdate</label>
        <locationX>932</locationX>
        <locationY>3423</locationY>
        <assignmentItems>
            <assignToReference>$Record.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentWorkOrder.ParentWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Kitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Priority</name>
        <label>Populate Priority</label>
        <locationX>943</locationX>
        <locationY>3001</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkType.HRCFSL_SWORD__r.HRCFSL_Priority_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Address_Service_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Added for SE - 2245</description>
        <name>Populate_SoftwareVersion_From_Asset</name>
        <label>Populate SoftwareVersion From Asset</label>
        <locationX>433</locationX>
        <locationY>8719</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Software_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Asset.HRCSVC_Software_Version__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_SoftwareVersion_From_Case</name>
        <label>Populate SoftwareVersion From Case</label>
        <locationX>1069</locationX>
        <locationY>8738</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Software_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Case.HRCSVC_Software_Version__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Quote_status_matched</name>
        <label>Quote status matched</label>
        <locationX>921</locationX>
        <locationY>5312</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Latest_Quote_Status_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Quote_Change_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SQR_Work_Order_billing_on_date_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Company_Details</name>
        <label>Set Company Details</label>
        <locationX>418</locationX>
        <locationY>8062</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Company_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Company_Info.Company_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Company_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Company_Info.Company_Details__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_has_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricebook</name>
        <label>Set Pricebook</label>
        <locationX>369</locationX>
        <locationY>5248</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Completed_by_Assigned_Engineer_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Printed_Checkbox_as_True</name>
        <label>Set Printed Checkbox as True</label>
        <locationX>930</locationX>
        <locationY>5768</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Printed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concession_is_given</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Address_Tech_Gen</name>
        <label>Update Address Tech Gen</label>
        <locationX>919</locationX>
        <locationY>4637</locationY>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_JDE_Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_JDE_Cost_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Postal_CD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Street__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Price_Book</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assigned_Engineer_Checkbox</name>
        <label>Update Assigned Engineer Checkbox</label>
        <locationX>916</locationX>
        <locationY>5066</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Assigned_Engineer_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Latest_Quote_Status_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_billing_on_date_on_Work_Order</name>
        <label>Update billing-on-date on Work Order</label>
        <locationX>920</locationX>
        <locationY>5459</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Patient_on_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.HRCFSL_Billing_On_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Assigned_Engineer_has_skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Concession_details</name>
        <label>Update Concession details</label>
        <locationX>933</locationX>
        <locationY>5923</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Concession_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Concession_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concession_is_not_given</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Correction_Assigned_To</name>
        <label>Update Correction Assigned To</label>
        <locationX>1096</locationX>
        <locationY>6843</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Correction_Assigned_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HRCFSL_Assigned_Engineer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_created_from_maintenance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Doc_Activity_Type</name>
        <label>Update Doc/Activity Type</label>
        <locationX>373</locationX>
        <locationY>2069</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkType.HRCFSL_Activity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkType.HRCFSL_Doc_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WT_Is_Null_or_Doc_Activity_Type_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Doc_Status</name>
        <label>Update Doc Status</label>
        <locationX>956</locationX>
        <locationY>6817</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Doc_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Correction_Assigned_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Escalation_Emails</name>
        <label>Update Escalation Emails</label>
        <locationX>1087</locationX>
        <locationY>7312</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Escalation_Email1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.HRCFSL_Escalation_Email_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Escalation_Email2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.HRCFSL_Escalation_Email_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Field_Action_Mod_on_WO</name>
        <label>Update Field Action/Mod on WO</label>
        <locationX>936</locationX>
        <locationY>6302</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_ModList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReturnOrderLineItem.ReturnOrder.HRCSVC_Field_Action_Mod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_to_Entitlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Kitted_on_Work_Order</name>
        <label>Update Kitted on Work Order</label>
        <locationX>994</locationX>
        <locationY>3983</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Kitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_w_Contract_Number</name>
        <label>Update PO w/ Contract Number</label>
        <locationX>938</locationX>
        <locationY>6436</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Entitlement.ServiceContract.HRCSVC_ERP_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_to_Warranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_w_Contract_Number_0</name>
        <label>Update PO w/ Contract Number</label>
        <locationX>943</locationX>
        <locationY>6565</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HRCSVC_AssetWarrantyId__r.HRCSVC_Service_Contract__r.HRCSVC_ERP_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_to_Field_Action_Mod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_w_FAM_Number</name>
        <label>Update PO w/ FAM Number</label>
        <locationX>951</locationX>
        <locationY>6695</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HRCFSL_ModList__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_CC_PM_BM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UPDATE_ST_ON_WO</name>
        <label>UPDATE ST ON WO</label>
        <locationX>954</locationX>
        <locationY>3196</locationY>
        <assignmentItems>
            <assignToReference>$Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Postal_CD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Street__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ParentWO_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Technician_has_skills_checkbox</name>
        <label>Update Technician has skills checkbox</label>
        <locationX>926</locationX>
        <locationY>5623</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Technician_has_Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PM_PDI_is_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_concession_fields_to_blank</name>
        <label>Update the concession fields to blank</label>
        <locationX>933</locationX>
        <locationY>6048</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Concession_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Concession_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_currency_based_on_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_WO_Field_Action_Mod_list</name>
        <label>Update the WO Field Action/Mod list</label>
        <locationX>1074</locationX>
        <locationY>7008</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_ModList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaintenancePlan.HRCFSL_ModList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Escalation_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>158</locationX>
        <locationY>4501</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Medical_Rec_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MedicalRecordFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Patient_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientFirstNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Patient_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientLastNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Sales_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesOrderLineFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesOrderFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HRCFSL_Patient_Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientRoomFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ward</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WO_Location</name>
        <label>Update WO Location</label>
        <locationX>926</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>$Record.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Account_From_Loaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WO_SRL</name>
        <label>Update WO SRL</label>
        <locationX>937</locationX>
        <locationY>1625</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceReportLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.HRCFSL_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Type_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Workorder_currency</name>
        <label>Update Workorder currency</label>
        <locationX>933</locationX>
        <locationY>6176</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_from_return_order_is_of_doc_type_MA_MP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WorkType_and_RecordType</name>
        <label>Update_WorkType_and_RecordType</label>
        <locationX>360</locationX>
        <locationY>2756</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Priority_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>combination of doctype and activity type field of work order.</description>
        <name>WorktypeIdentifier</name>
        <label>Assign worktype keyword</label>
        <locationX>367</locationX>
        <locationY>2211</locationY>
        <assignmentItems>
            <assignToReference>WorktypeKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HRCFSL_Doc_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorktypeKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Simplehyphen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorktypeKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.HRCFSL_Activity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Needs_Assigned</name>
        <label>Asset Needs Assigned</label>
        <locationX>606</locationX>
        <locationY>931</locationY>
        <defaultConnector>
            <targetReference>Check_Asset_and_Location_on_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_asset_to_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Integration_ERP_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Integration_Asset</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Assign asset to WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Asset_and_Location_on_Work_Order</name>
        <label>Check Asset and Location on Work Order</label>
        <locationX>610</locationX>
        <locationY>1126</locationY>
        <defaultConnector>
            <targetReference>Populate_Account_From_Loaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_WO_Location_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetandLocationcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Location</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update WO Location Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Assigned_Engineer_has_skills</name>
        <label>Check If Assigned Engineer has skills?</label>
        <locationX>661</locationX>
        <locationY>5623</locationY>
        <defaultConnector>
            <targetReference>PM_PDI_is_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_Engineer_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Assigned_Engineer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Technician_has_skills_checkbox</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Assigned Engineer is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Price_Book</name>
        <label>Check Price Book</label>
        <locationX>644</locationX>
        <locationY>4870</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Completed_by_Assigned_Engineer_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Price_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPriceBook</targetReference>
            </connector>
            <label>Set Price Book</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPriceBook</name>
        <label>CheckPriceBook</label>
        <locationX>364</locationX>
        <locationY>5066</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Completed_by_Assigned_Engineer_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Pricebook_on_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pricebook</targetReference>
            </connector>
            <label>Set Pricebook on WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completed_CC_PM_BM</name>
        <label>Completed CC PM/BM</label>
        <locationX>668</locationX>
        <locationY>6820</locationY>
        <defaultConnector>
            <targetReference>WO_created_from_maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCSV_Product__r.Family</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCSV_Product__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.HRCFSL_Real_Product_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.HRCFSL_Real_Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Doc_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concession_is_given</name>
        <label>Concession is given</label>
        <locationX>658</locationX>
        <locationY>5916</locationY>
        <defaultConnector>
            <targetReference>Concession_is_not_given</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCSVC_No_Charge_Concession__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Concession_details</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concession_is_not_given</name>
        <label>Concession is not given</label>
        <locationX>659</locationX>
        <locationY>6039</locationY>
        <defaultConnector>
            <targetReference>Update_currency_based_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCSVC_No_Charge_Concession__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_concession_fields_to_blank</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Given</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_PM_PDI</name>
        <label>From PM/PDI</label>
        <locationX>923</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_Metadata_Not_Allowed_Activity_type_for_Prefill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_PMPDI_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_PM_PDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PM_Repair_from_PM_PDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HRCFSL_PM_PDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PM_Repair_from_PM_PDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Needs_Assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Built for SE - 2245</description>
        <name>Get_Related_Asset_Null_Or_Not</name>
        <label>Get Related Asset Null Or Not</label>
        <locationX>424</locationX>
        <locationY>8554</locationY>
        <defaultConnectorLabel>RelatedAssetNull</defaultConnectorLabel>
        <rules>
            <name>RelatedAssetNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_SoftwareVersion_From_Asset</targetReference>
            </connector>
            <label>RelatedAssetNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added for SE - 2245</description>
        <name>Get_Related_Case_Null_or_not</name>
        <label>Get Related Case Null or not</label>
        <locationX>1056</locationX>
        <locationY>8551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_SoftwareVersion_From_Case</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Integration_Asset</name>
        <label>Has Integration Asset</label>
        <locationX>274</locationX>
        <locationY>925</locationY>
        <defaultConnector>
            <targetReference>Check_Asset_and_Location_on_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integration_Asset_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Integration_ERP_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Integration_ERP_Asset__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Integration Asset Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record</label>
        <locationX>685</locationX>
        <locationY>7738</locationY>
        <defaultConnector>
            <targetReference>WO_has_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Company_Info</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Null</name>
        <label>Is Null</label>
        <locationX>167</locationX>
        <locationY>1726</locationY>
        <defaultConnector>
            <targetReference>Update_Doc_Activity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Type_to_Work_Order</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote</name>
        <label>Is Quote</label>
        <locationX>351</locationX>
        <locationY>2595</locationY>
        <defaultConnector>
            <targetReference>Update_WorkType_and_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote No</defaultConnectorLabel>
        <rules>
            <name>Quote_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Is_Quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Quote Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Work_Order</name>
        <label>New Work Order</label>
        <locationX>640</locationX>
        <locationY>4170</locationY>
        <defaultConnector>
            <targetReference>Tech_Generated_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Implement_SWORD_on_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_SWORD_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enforce_SWORD_on_Creation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Implement SWORD on creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>PM_PDI_is_Completed</name>
        <label>PM/PDI is Completed</label>
        <locationX>658</locationX>
        <locationY>5768</locationY>
        <defaultConnector>
            <targetReference>Concession_is_given</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND (2 AND (3 OR 4))) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Printed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Printed_Checkbox_as_True</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_Account_From_Loaction</name>
        <label>Populate Account From Loaction</label>
        <locationX>609</locationX>
        <locationY>1447</locationY>
        <defaultConnector>
            <targetReference>WO_Service_Report_Language_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountAndLocationCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountUpdateFromLocation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Populate Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_Escalation_Emails</name>
        <label>Populate Escalation Emails</label>
        <locationX>670</locationX>
        <locationY>7194</locationY>
        <defaultConnector>
            <targetReference>Is_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populate_Escalation_Emails_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Escalation_Email1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Escalation_Email2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Territory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>406</locationX>
        <locationY>7837</locationY>
        <defaultConnector>
            <targetReference>WO_has_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Company_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Company_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Territory_Exists</name>
        <label>Service Territory Exists</label>
        <locationX>921</locationX>
        <locationY>7319</locationY>
        <defaultConnector>
            <targetReference>Is_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Territory_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Escalation_Emails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SQR_Work_Order_billing_on_date_is_null</name>
        <label>SQR-Work Order billing-on-date is null</label>
        <locationX>658</locationX>
        <locationY>5460</locationY>
        <defaultConnector>
            <targetReference>Check_If_Assigned_Engineer_has_skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Date_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Patient_on_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_billing_on_date_on_Work_Order</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Billing Date is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Generated</name>
        <label>Tech Generated?</label>
        <locationX>148</locationX>
        <locationY>4291</locationY>
        <defaultConnector>
            <targetReference>Update_Tech_Gen_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Metadat_HRCFSL_Technician_Profile.HRCFSL_Component_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Logged_In_User.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Logged_In_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Generated_WO</name>
        <label>Tech Generated WO</label>
        <locationX>630</locationX>
        <locationY>4363</locationY>
        <defaultConnector>
            <targetReference>Update_Tech_Gen_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tech_Update_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechGeneratedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadat_HRCFSL_Technician_Profile</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tech Update WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Address_Service_Territory</name>
        <label>Update Address &amp; Service Territory</label>
        <locationX>617</locationX>
        <locationY>3197</locationY>
        <defaultConnector>
            <targetReference>Update_ParentWO_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Address</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.WorkTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_ST_ON_WO</targetReference>
            </connector>
            <label>Update Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_currency_based_on_account</name>
        <label>Update currency based on account</label>
        <locationX>663</locationX>
        <locationY>6175</locationY>
        <defaultConnector>
            <targetReference>WO_from_return_order_is_of_doc_type_MA_MP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.CurrencyIsoCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Is_Quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Workorder_currency</targetReference>
            </connector>
            <label>Account is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Kitted</name>
        <label>Update Kitted</label>
        <locationX>644</locationX>
        <locationY>3990</locationY>
        <defaultConnector>
            <targetReference>New_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Kitted_on_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Number_of_Assets_in_a_Kit__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Kitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Kitted_on_Work_Order</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set Kitted on WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Latest_Quote_Status_Change</name>
        <label>Update Latest Quote Status Change</label>
        <locationX>649</locationX>
        <locationY>5301</locationY>
        <defaultConnector>
            <targetReference>SQR_Work_Order_billing_on_date_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCSVC_Quote_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HRCSVC_Quote_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HRCSVC_Quote_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_status_matched</targetReference>
            </connector>
            <label>Quote Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_ParentWO_Id</name>
        <label>Update ParentWO Id</label>
        <locationX>632</locationX>
        <locationY>3392</locationY>
        <defaultConnector>
            <targetReference>Update_Kitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ParentWorkOrderId_not_null</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ParentWorkOrderId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentWorkOrder.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentWoIdUpdate</targetReference>
            </connector>
            <label>ParentWorkOrderId not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_PO_to_Entitlement</name>
        <label>Update PO to Entitlement</label>
        <locationX>656</locationX>
        <locationY>6431</locationY>
        <defaultConnector>
            <targetReference>Update_PO_to_Warranty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_PO</name>
            <conditionLogic>1 AND (2 OR 6) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_PO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.ServiceContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EntitlementId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EntitlementId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_w_Contract_Number</targetReference>
            </connector>
            <label>Update PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_PO_to_Field_Action_Mod</name>
        <label>Update PO to Field Action/Mod</label>
        <locationX>658</locationX>
        <locationY>6686</locationY>
        <defaultConnector>
            <targetReference>Completed_CC_PM_BM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_PO_0_0</name>
            <conditionLogic>1 AND (2 OR 6) AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_PO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_ModList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HRCFSL_ModList__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HRCFSL_ModList__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_w_FAM_Number</targetReference>
            </connector>
            <label>Update PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_PO_to_Warranty</name>
        <label>Update PO to Warranty</label>
        <locationX>658</locationX>
        <locationY>6561</locationY>
        <defaultConnector>
            <targetReference>Update_PO_to_Field_Action_Mod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_PO_0</name>
            <conditionLogic>1 AND (2 OR 6) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_PO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCSVC_AssetWarrantyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCSVC_AssetWarrantyId__r.HRCSVC_Service_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HRCSVC_AssetWarrantyId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HRCSVC_AssetWarrantyId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_w_Contract_Number_0</targetReference>
            </connector>
            <label>Update PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Priority_0</name>
        <label>Update Priority</label>
        <locationX>612</locationX>
        <locationY>2682</locationY>
        <defaultConnector>
            <targetReference>Update_Address_Service_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Proper_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.HRCFSL_SWORD__r.HRCFSL_Priority_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.WorkTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WorkType.HRCFSL_SWORD__r.HRCFSL_Priority_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Priority</targetReference>
            </connector>
            <label>Set Proper Priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Tech_Gen_Address</name>
        <label>Update Tech Gen Address</label>
        <locationX>638</locationX>
        <locationY>4636</locationY>
        <defaultConnector>
            <targetReference>Check_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Tech_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechAddressCheckFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_Tech_Gen</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Tech Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>WardCheck</name>
        <label>WardCheck</label>
        <locationX>363</locationX>
        <locationY>4625</locationY>
        <defaultConnector>
            <targetReference>Update_Tech_Gen_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WardNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ward</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Ward_to_WO</targetReference>
            </connector>
            <label>WardNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_created_from_maintenance</name>
        <label>WO created from maintenance</label>
        <locationX>667</locationX>
        <locationY>7006</locationY>
        <defaultConnector>
            <targetReference>Populate_Escalation_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Field_ACtion_Mod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsGeneratedFromMaintenancePlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaintenancePlan.HRCFSL_ModList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_WO_Field_Action_Mod_list</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Field ACtion/Mod</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_from_return_order_is_of_doc_type_MA_MP</name>
        <label>WO from return order is of doc type MA/MP</label>
        <locationX>657</locationX>
        <locationY>6298</locationY>
        <defaultConnector>
            <targetReference>Update_PO_to_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_is_MA_MP</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReturnOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReturnOrderLineItem.ReturnOrder.HRCSVC_Field_Action_Mod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_Action_Mod_on_WO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>WO is MA/MP</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added for SE - 2245</description>
        <name>WO_has_Asset</name>
        <label>WO has Asset</label>
        <locationX>420</locationX>
        <locationY>8203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Asset</targetReference>
            </connector>
            <label>hasAsset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added for SE - 2245</description>
        <name>WO_has_Case</name>
        <label>WO has Case</label>
        <locationX>688</locationX>
        <locationY>8060</locationY>
        <defaultConnector>
            <targetReference>WO_has_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoCasePopulated</defaultConnectorLabel>
        <rules>
            <name>HasCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case</targetReference>
            </connector>
            <label>HasCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Service_Report_Language_Update</name>
        <label>WO Service Report Language Update</label>
        <locationX>616</locationX>
        <locationY>1612</locationY>
        <defaultConnector>
            <targetReference>Work_Type_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SRLCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_SRL</targetReference>
            </connector>
            <label>Update SRL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Completed_by_Assigned_Engineer_or_not</name>
        <label>Work Order Completed by Assigned Engineer or not</label>
        <locationX>646</locationX>
        <locationY>5073</locationY>
        <defaultConnector>
            <targetReference>Update_Latest_Quote_Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Assigned_Engineer_box</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HRCFSL_Assigned_Engineer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_Engineer_Checkbox</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Assigned Engineer box</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Type_Is_Changed</name>
        <label>Work Type Is Changed</label>
        <locationX>614</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <targetReference>WT_Is_Null_or_Doc_Activity_Type_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Doc_Type_and_Activity_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Doc Type and Activity Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>WT_Is_Null_or_Doc_Activity_Type_Is_Changed</name>
        <label>WT Is Null or Doc/Activity Type Is Changed</label>
        <locationX>615</locationX>
        <locationY>2151</locationY>
        <defaultConnector>
            <targetReference>Update_Priority_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>(1 OR (2 AND (3 OR 4)))</conditionLogic>
            <conditions>
                <leftValueReference>WorkType_null_or_Doc_Activity_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.WorkTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HRCFSL_Doc_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HRCFSL_Doc_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HRCFSL_Activity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HRCFSL_Activity_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorktypeIdentifier</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>v6: added logic to populate Escalation Emails on Work Order</description>
    <formulas>
        <name>AccountAndLocationCheck</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.LocationId })),  
ISBLANK({!$Record.AccountId} ),
NOT(ISBLANK({!$Record.Location.HRCFSL_Account__c })),
NOT(CONTAINS({!Get_Custom_Metadata_Not_Allowed_Activity_type_for_Prefill.HRCFSL_Component_Detail__c},TEXT({!$Record.HRCFSL_Activity_Type__c} ))))</expression>
    </formulas>
    <formulas>
        <name>AssetandLocationcheck</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.AssetId} )), 
         ISBLANK({!$Record.LocationId}),
         NOT(ISBLANK({!$Record.Asset.LocationId} )),
NOT(CONTAINS({!Get_Custom_Metadata_Not_Allowed_Activity_type_for_Prefill.HRCFSL_Component_Detail__c},TEXT({!$Record.HRCFSL_Activity_Type__c} ) )) 
)</expression>
    </formulas>
    <formulas>
        <name>Check_Account_on_Work_Order</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNULL({!$Record.Id}),NOT(ISNULL({!$Record.AccountId} ) ))</expression>
    </formulas>
    <formulas>
        <name>Check_Parent_Child_Structure</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.HRCFSL_Is_Cloned__c} ==False,
       {!$Record.HRCFSL_Kitted__c} ==False,
NOT(ISBLANK({!$Record.ParentWorkOrderId} ))
)</expression>
    </formulas>
    <formulas>
        <name>Check_ParentWorkOrderId</name>
        <dataType>Boolean</dataType>
        <expression>AND(
          OR(ISNULL({!$Record.Id}),
             ({!$Record__Prior.ParentWorkOrderId} != {!$Record.ParentWorkOrderId}) 

),
NOT(ISBLANK({!$Record.ParentWorkOrderId})),
NOT(ISBLANK({!$Record.ParentWorkOrder.ParentWorkOrderId}))

)</expression>
    </formulas>
    <formulas>
        <name>Latest_Quote_Change_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>IF(OR(TEXT({!$Record.HRCSVC_Quote_Status__c})  == {!Get_Custom_Metadata_HRCSVC_Quote_Status_Sent.HRCFSL_Component_Detail__c} ,TEXT({!$Record.HRCSVC_Quote_Status__c})  == {!Get_Custom_Metadata_HRCSVC_Quote_Status_Follow1.HRCFSL_Component_Detail__c} ),{!$Record.LastModifiedDate},null)</expression>
    </formulas>
    <formulas>
        <name>Location_or_worktype_changed_and_not_null</name>
        <dataType>Boolean</dataType>
        <expression>(ISNULL({!$Record.Id}) || (({!$Record__Prior.LocationId} != {!$Record.LocationId}) || ({!$Record__Prior.WorkTypeId} != {!$Record.WorkTypeId}))) &amp;&amp; NOT(ISBLANK({!$Record.LocationId})) &amp;&amp; ISBLANK({!$Record.ParentWorkOrderId})</expression>
    </formulas>
    <formulas>
        <name>MedicalRecordFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Asset.HRCFSL_Med_Rec__c}   )),{!$Record.Asset.HRCFSL_Med_Rec__c},&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>PatientFirstNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Asset.HRCFSL_Patient_F_NM__c})), {!$Record.Asset.HRCFSL_Patient_F_NM__c}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>PatientLastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Asset.HRCFSL_Patient_L_NM__c})), {!$Record.Asset.HRCFSL_Patient_L_NM__c}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>PatientRoomFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Asset.HRCFSL_Patient_RM__c} )),{!$Record.Asset.HRCFSL_Patient_RM__c},&quot; &quot; )</expression>
    </formulas>
    <formulas>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Country} = &apos;MC&apos;,&apos;FR &apos; +{!$Label.HTCFSL_Field_Service_Parts_Label},
{!$Record.Country} +&apos; &apos; +{!$Label.HTCFSL_Field_Service_Parts_Label})</expression>
    </formulas>
    <formulas>
        <name>SalesOrderFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Asset.HRCFSL_SO__c})), TEXT({!$Record.Asset.HRCFSL_SO__c}), &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>SalesOrderLineFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Asset.HRCFSL_SO_LN__c})), TEXT({!$Record.Asset.HRCFSL_SO_LN__c}), &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>SRLCheck</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.LocationId} )),   
NOT(ISBLANK({!$Record.Location.HRCFSL_Language__c}  )),
{!$Record.Location.HRCFSL_Language__c} &lt;&gt; TEXT({!$Record.ServiceReportLanguage} )

)</expression>
    </formulas>
    <formulas>
        <name>TechAddressCheckFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!$Record.LocationId} )),
OR(
       NOT(ISBLANK({!$Record.Location.HRCFSL_Street__c} )),
       NOT(ISBLANK({!$Record.Location.HRCFSL_City__c} )),
       NOT(ISBLANK({!$Record.Location.HRCFSL_State__c} )),
       NOT(ISBLANK({!$Record.Location.HRCFSL_Postal_CD__c} )),
       NOT(ISBLANK(TEXT({!$Record.Location.HRCFSL_Country__c} ))),
       NOT(ISBLANK({!$Record.Location.HRCFSL_JDE_Cost_Center__c} ))
)
)</expression>
    </formulas>
    <formulas>
        <name>TechGeneratedCheck</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!$Record.AssetId} )),
{!$Record.Asset.HRCFSL_SO__c} &gt;0,
NOT({!$Setup.HRCFSL_Org_Exception_Rule__c.HRCFSL_Process_Builder__c}) 
)</expression>
    </formulas>
    <formulas>
        <name>TerritoryID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.WorkType.HRCSVC_Service_Territory_Override__c}),
IF(ISBLANK({!$Record.Location.HRCFSL_Service_Territory__c}), &quot;&quot;, {!$Record.Location.HRCFSL_Service_Territory__c}),
{!$Record.WorkType.HRCSVC_Service_Territory_Override__c})</expression>
    </formulas>
    <formulas>
        <name>WorkType_null_or_Doc_Activity_changed</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(TEXT({!$Record.HRCFSL_Doc_Type__c}))) &amp;&amp;
 NOT(ISBLANK(TEXT({!$Record.HRCFSL_Activity_Type__c}))) &amp;&amp; (ISNULL({!$Record.Id}) 
&amp;&amp; ISBLANK({!$Record.WorkTypeId}))</expression>
    </formulas>
    <formulas>
        <name>WorkTypeCheck</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.WorkTypeId})) &amp;&amp; (ISNULL({!$Record.Id}) ||  ( ( {!$Record__Prior.WorkTypeId} ) != ( {!$Record.WorkTypeId} ) ) )</expression>
    </formulas>
    <interviewLabel>HRCSVC_ServiceAppointment Before-Save Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC WorkOrder Before-Save Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>283</locationX>
        <locationY>1137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Asset_to_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_JDE_ASSET__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HRCFSL_Integration_ERP_Asset__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>asset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_JDE_ASSET__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Company_Info</name>
        <label>Get Company Info</label>
        <locationX>418</locationX>
        <locationY>7658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Company_Detail__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Metadat_HRCFSL_Technician_Profile</name>
        <label>Get Custom Metadat HRCFSL_Technician_Profile</label>
        <locationX>413</locationX>
        <locationY>4293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Logged_In_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCFSL_Technician_Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Metadata_HRCSVC_Quote_Status_Follow1</name>
        <label>Get Custom Metadata HRCSVC_Quote_Status_Follow1</label>
        <locationX>610</locationX>
        <locationY>664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Metadata_HRCSVC_Quote_Status_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCSVC_Quote_Status_Follow1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Metadata_HRCSVC_Quote_Status_Sent</name>
        <label>Get Custom Metadata HRCSVC_Quote_Status_Sent</label>
        <locationX>610</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Needs_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCSVC_Quote_Status_Sent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Metadata_Not_Allowed_Activity_type_for_Prefill</name>
        <label>Get Custom Metadata Not_Allowed_Activity_type_for_Prefill</label>
        <locationX>623</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Metadata_HRCSVC_Quote_Status_Follow1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not_Allowed_Activity_type_for_Prefill</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Organization_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_In_User</name>
        <label>Get Logged In User</label>
        <locationX>280</locationX>
        <locationY>4289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tech_Generated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record_Type</name>
        <label>Get Quote Record Type</label>
        <locationX>137</locationX>
        <locationY>2602</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WorkType_and_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>369</locationX>
        <locationY>1721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkType.HRCFSL_Record_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>360</locationX>
        <locationY>2473</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Asset</name>
        <label>Get Related Asset</label>
        <locationX>430</locationX>
        <locationY>8367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Asset_Null_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>1059</locationX>
        <locationY>8201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Case_Null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>937</locationX>
        <locationY>7190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Territory_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ward</name>
        <label>Get Ward</label>
        <locationX>370</locationX>
        <locationY>4498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WardCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.HRCFSL_Ward__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCFSL_Ward__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>364</locationX>
        <locationY>2353</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_JDE_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorktypeKey</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>var_RecordTypeDeveloperName</assignToReference>
            <field>HRCFSL_Record_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBook</name>
        <label>GetPriceBook</label>
        <locationX>372</locationX>
        <locationY>4918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>498</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>From_PM_PDI</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Quote_Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>HRCFSL_Quote</stringValue>
        </value>
    </variables>
    <variables>
        <name>Simplehyphen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>_</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorktypeKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
