force-app/main/default/flows/HRCSVC_Close_Child_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_to_Child_Cases</name>
        <label>Assign to Child Cases</label>
        <locationX>666</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>CloseChildCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseChildCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Child_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseChildCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseChildCase.HRCSVC_Case_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.HRCSVC_Case_Resolution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseChildCase.HRCSVC_Email_Case_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.HRCSVC_Email_Case_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_List</name>
        <label>Assign to List</label>
        <locationX>541</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>AllChildCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseChildCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Child_Cases</targetReference>
        </connector>
    </assignments>
    <description>SE-155: This flow will close all child cases whose status is not closed</description>
    <interviewLabel>HRCSCV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Close Child Cases</label>
    <loops>
        <name>Loop_over_Child_Cases</name>
        <label>Loop over Child Cases</label>
        <locationX>488</locationX>
        <locationY>216</locationY>
        <collectionReference>ChildCaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Child_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Cases</name>
        <label>Get Child Cases</label>
        <locationX>335</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Child_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ChildCaseList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>HRCSVC_Case_Resolution__c</queriedFields>
        <queriedFields>HRCSVC_Email_Case_Contacts__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCSVC_Close_Child_Cases__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>HRCSVC_Case_Resolution__c</queriedFields>
        <queriedFields>HRCSVC_Email_Case_Contacts__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases</name>
        <label>Update Child Cases</label>
        <locationX>491</locationX>
        <locationY>69</locationY>
        <inputReference>AllChildCasesList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllChildCasesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CloseChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
