force-app/main/default/flows/HRCSVC_Update_Loaner_OLI_and_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Return_Order_Line_Item_Mapping</name>
        <label>Return Order Line Item Mapping</label>
        <locationX>961</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemRec.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnOrderRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemRec.HRCSVC_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Line_Item_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemRec.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Line_Item_Records.HRCSVC_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemRec.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Line_Item_Records.HRCSVC_Asset__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemRec.QuantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Return_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Order_Mapping</name>
        <label>Return Order Mapping</label>
        <locationX>955</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRec.HRCSVC_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRec.HRCSVC_Ship_To_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderRec.HRCSVC_Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRec.HRCSVC_PO_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Return_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_OLI_Status_and_Asset</name>
        <label>Update OLI Status and Asset</label>
        <locationX>721</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>Order_Line_Item_Records.HRCSVC_Order_Line_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Asset_Records.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Line_Item_Records.Order__r.HRCSVC_Ship_To_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Asset_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>At Customer Site (ECUS)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Asset_Records.HRCFSL_Asset_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>At Customer Site (ECUS)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OLI_Record</targetReference>
        </connector>
    </assignments>
    <description>SE-172</description>
    <interviewLabel>HRCSVC Update Loaner OLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Update Loaner OLI and Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Generate_Return_Order</name>
        <label>Generate Return Order</label>
        <locationX>955</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Return_Order_Line_Item_Mapping</targetReference>
        </connector>
        <inputReference>ReturnOrderRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Generate_Return_Order_Line_Item</name>
        <label>Generate Return Order Line Item</label>
        <locationX>965</locationX>
        <locationY>691</locationY>
        <inputReference>ReturnOrderLineItemRec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Asset_Records</name>
        <label>Get Related Asset Records</label>
        <locationX>597</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OLI_Status_and_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLineShippingREC.Order_Line_Item__r.HRCSVC_Asset__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Line_Item_Records</name>
        <label>Order Line Item Records</label>
        <locationX>386</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLineShippingREC.Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OrderRec</name>
        <label>OrderRec</label>
        <locationX>493</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Asset_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Line_Item_Records.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>953</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Return_Order_Mapping</targetReference>
        </connector>
        <inputReference>Get_Related_Asset_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OLI_Record</name>
        <label>Update OLI Record</label>
        <locationX>843</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputReference>Order_Line_Item_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Line_Item_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderLineShippingREC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Lines_to_Shipping__c</objectType>
    </variables>
    <variables>
        <name>ReturnOrderLineItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ReturnOrderRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
</Flow>
