force-app/main/default/flows/HRCSVC_Create_Work_Orders_on_Order_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_any_Location_is_populated</name>
        <label>Check if any Location is populated</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Location_s_address_is_empty</targetReference>
            </connector>
            <label>Location Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_record_is_present</name>
        <label>Check if record is present</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_found</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>OrderLineItemVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location</targetReference>
            </connector>
            <label>Record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Location_s_address_is_empty</name>
        <label>Check if the Location&apos;s address is empty</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocRecord.HRCFSL_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocRecord.HRCFSL_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocRecord.HRCFSL_Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocRecord.HRCFSL_Postal_CD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocRecord.HRCFSL_State__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocRecord.HRCFSL_JDE_Cost_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Work Orders on Order Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Create Work Orders on Order Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Activity_Type__c</field>
            <value>
                <elementReference>Activity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Comments__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Cancellation_Reason_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Department__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Email__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_First_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Last_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Phone__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Doc_Type__c</field>
            <value>
                <elementReference>Doc_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Extended_Instructions__c</field>
            <value>
                <elementReference>Extended_Instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_JDE_Cost_Center__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Customer_Cost_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Medical_Rec_No__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Medical_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_PO__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Paging_Team__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Paging_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_First_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Patient_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_Last_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Patient_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_Off_Date__c</field>
            <value>
                <elementReference>Billing_Off_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_Room__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Patient_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_on_date__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Ward_Text__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Ward_Floor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Ward__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Ward__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Order_Line_Item__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Order__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSV_Product__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Ship_To_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>LocRecord.HRCFSL_Service_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>SA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Street__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Orders</name>
        <label>Create Work Orders</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Asset__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Activity_Type__c</field>
            <value>
                <elementReference>Activity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Comments__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Cancellation_Reason_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Department__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Email__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_First_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Last_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Contact_Phone__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Contact_Name__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Doc_Type__c</field>
            <value>
                <elementReference>Doc_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Extended_Instructions__c</field>
            <value>
                <elementReference>Extended_Instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_JDE_Cost_Center__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Customer_Cost_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Medical_Rec_No__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Medical_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_PO__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Paging_Team__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Paging_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_First_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Patient_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_Last_Name__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Patient_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_Off_Date__c</field>
            <value>
                <elementReference>Billing_Off_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_Room__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Patient_Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Patient_on_date__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Ward_Text__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Ward_Floor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCFSL_Ward__c</field>
            <value>
                <elementReference>OrderLineItemVariable.HRCSVC_Ward__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Order_Line_Item__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Order__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSV_Product__c</field>
            <value>
                <elementReference>OrderLineItemVariable.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Ship_To_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>LocRecord.HRCFSL_Service_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>SA</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_any_Location_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLineItemVariable.Order__r.HRCSVC_Ship_To_Location__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>LocRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRCFSL_Service_Territory__c</queriedFields>
        <queriedFields>HRCFSL_City__c</queriedFields>
        <queriedFields>HRCFSL_Country__c</queriedFields>
        <queriedFields>HRCFSL_State__c</queriedFields>
        <queriedFields>HRCFSL_Street__c</queriedFields>
        <queriedFields>HRCFSL_Postal_CD__c</queriedFields>
        <queriedFields>HRCFSL_JDE_Cost_Center__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_record_is_present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Activity_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>OrderLineItemVariable.HRCSVC_Service_Activity_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Billing_Off_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>OrderLineItemVariable.HRCSVC_End_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Doc_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>Extended_Instructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>OrderLineItemVariable.HRCSVC_Special_Instructions__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LocationRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>LocRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>OrderLineItemVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrder_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
