force-app/main/default/flows/HRCSVC_Cancel_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_WO_Status</name>
        <label>Set WO Status</label>
        <locationX>753</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Work_Order.HRCFSL_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>874</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>WOList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Work_Orders_Found</name>
        <label>Check if Work Orders Found</label>
        <locationX>281</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Work_Order</targetReference>
            </connector>
            <label>WO Found</label>
        </rules>
    </decisions>
    <interviewLabel>HRCSVC_Cancel_Work_Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC_Cancel_Work_Order</label>
    <loops>
        <name>For_Each_Work_Order</name>
        <label>For Each Work Order</label>
        <locationX>426</locationX>
        <locationY>158</locationY>
        <collectionReference>Get_Work_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_WO_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Orders</name>
        <label>Get Work Orders</label>
        <locationX>163</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Work_Orders_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_Status</name>
        <label>Update WO Status</label>
        <locationX>690</locationX>
        <locationY>308</locationY>
        <inputReference>WOList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Orders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cancelled as Part of Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>WOList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
