force-app/main/default/flows/HRCSVC_Update_CLI_and_WorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_To_CLI_List</name>
        <label>Assign To CLI List</label>
        <locationX>489</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>CLIListToUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cliupdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_TO_List</name>
        <label>Assign WO TO List</label>
        <locationX>1259</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>ListOfWOToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>workordertoupddate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWorkOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_All_Work_Orders</name>
        <label>Cancel All Work Orders</label>
        <locationX>1332</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>workordertoupddate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workordertoupddate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_WO_TO_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CLI_End_Date</name>
        <label>Update CLI End Date</label>
        <locationX>644</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>cliupdate.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cliupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_CLI_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Asset_Status</name>
        <label>Check Asset Status</label>
        <locationX>427</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Inactive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HRCFSL_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order_Records</targetReference>
            </connector>
            <label>Status is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Empty_CLI</name>
        <label>Check Empty CLI</label>
        <locationX>699</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Not_Empty_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContractLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CLI</targetReference>
            </connector>
            <label>IF Not Empty CLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Empty_Work_Order</name>
        <label>Check Empty Work Order</label>
        <locationX>877</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopWorkOrders</targetReference>
            </connector>
            <label>If Not Empty</label>
        </rules>
        <rules>
            <name>If_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContractLineItem</targetReference>
            </connector>
            <label>If Empty</label>
        </rules>
    </decisions>
    <description>This flow is developed to update the Contract line item and work order records based on updated on the asset.
Developed this for #SE-218</description>
    <interviewLabel>HRCSVC Update CLI and WorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Update CLI and WorkOrder</label>
    <loops>
        <name>Loop_CLI</name>
        <label>Loop CLI</label>
        <locationX>488</locationX>
        <locationY>402</locationY>
        <collectionReference>Get_ContractLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CLI_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatedCLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopWorkOrders</name>
        <label>LoopWorkOrders</label>
        <locationX>1171</locationX>
        <locationY>135</locationY>
        <collectionReference>Get_Work_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_All_Work_Orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateWorkOrderStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContractLineItem</name>
        <label>Get ContractLineItem</label>
        <locationX>889</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Empty_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Records</name>
        <label>Get Work Order Records</label>
        <locationX>665</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Empty_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCFSL_Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SA</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatedCLI</name>
        <label>UpdatedCLI</label>
        <locationX>286</locationX>
        <locationY>397</locationY>
        <inputReference>CLIListToUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorkOrderStatus</name>
        <label>UpdateWorkOrderStatus</label>
        <locationX>1045</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>Get_ContractLineItem</targetReference>
        </connector>
        <inputReference>ListOfWOToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Check_Asset_Status</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CLIListToUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>cliupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>ListOfWOToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workordertoupddate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
