force-app/main/default/flows/HRCSVC21_Create_Parts_Order_From_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Create_0_0_0</name>
        <label>Create</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>OLIVar.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OLIVar.HRCSVC_Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Product2.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OLIVar.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OLIVar.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OLIVar.HRCSVC20_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OLIVar.HRCSVC20_Extended_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_0_0_0_0</name>
        <label>Create</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>OliCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OLIVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_QLi_is_available</name>
        <label>Check if QLi is available</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>OrderLineItems_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not available</defaultConnectorLabel>
        <rules>
            <name>available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QLIRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_status</name>
        <label>Check Quote status</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckQuoteStatus.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_line_Item_records</targetReference>
            </connector>
            <label>Status is Accepted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OrderId</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>HRCSVC21 Create Parts Order From Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC21 Create Parts Order From Quote</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>QLIRec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OrderLineItems_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parts_Order</name>
        <label>Create Parts Order</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>Order</assignRecordIdToReference>
        <connector>
            <targetReference>Check_if_QLi_is_available</targetReference>
        </connector>
        <inputAssignments>
            <field>HRCSVC21_Quote__c</field>
            <value>
                <elementReference>CheckQuoteStatus.QuoteNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Contact_Name__c</field>
            <value>
                <elementReference>CheckQuoteStatus.Contact.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Contact_Phone_Number__c</field>
            <value>
                <elementReference>CheckQuoteStatus.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Contact__c</field>
            <value>
                <elementReference>CheckQuoteStatus.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Order_Type__c</field>
            <value>
                <elementReference>CheckQuoteStatus.HRCSVC21_Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Ship_To_Location__c</field>
            <value>
                <elementReference>CheckQuoteStatus.HRCSVC21_Ship_to_location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>OrderLineItems_0</name>
        <label>OrderLineItems</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Successful_0</targetReference>
        </connector>
        <inputReference>OliCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>OrderLineItems_0_0</name>
        <label>OrderLineItems</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>OrderLineItem</assignRecordIdToReference>
        <connector>
            <targetReference>Successful_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>HRCSVC20_Extended_Price__c</field>
            <value>
                <elementReference>ExtendedPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC20_Unit_Price__c</field>
            <value>
                <elementReference>UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_Description__c</field>
            <value>
                <elementReference>ItemDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>CheckQuoteStatus.HRCSVC21_Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>ProductCode</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Line_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>CheckQuoteStatus</name>
        <label>CheckQuoteStatus</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quote_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_line_Item_records</name>
        <label>Get Quote line Item records</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>QLIRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Record</name>
        <label>RecordTypes</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Parts_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRCSVC_Parts_Order</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Screen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please check the quote status&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful_0</name>
        <label>Successful</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectViaURL_0</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!Order}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to view this record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful_0_0</name>
        <label>Successful</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectViaURL_0_0</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!Order}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to view this record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckQuoteStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AcceptedStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExtendedPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ItemDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocationTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OliCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>OLIVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QLIRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLIrecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Quantityid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientPhoneNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>QuoteId</stringValue>
        </value>
    </variables>
    <variables>
        <name>ShiptoLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SoldTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusAccepted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatustextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
