force-app/main/default/flows/HRCSVC_Cancel_WO_if_Order_line_Item_is_cancelled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddWOInList</name>
        <label>AddWOInList</label>
        <locationX>1018</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>RelatedWorkOrderRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>workorderrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWorkOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CancelWorkOrder</name>
        <label>CancelWorkOrder</label>
        <locationX>1018</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>workorderrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderrecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderrecord.HRCFSL_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLIVariable.HRCSVC_Cancellation_Reason_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddWOInList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null_check</name>
        <label>Null check</label>
        <locationX>123</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OLI_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLIVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OLIVariable.HRCSVC_Order_Line_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>OLI Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>WORecordsExist</name>
        <label>WORecordsExist</label>
        <locationX>492</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopWorkOrders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Developed this for #SE-1004</description>
    <interviewLabel>HRCSVC Cancel WO if Order line Item is cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Cancel WO if Order line Item is cancelled</label>
    <loops>
        <name>LoopWorkOrders</name>
        <label>LoopWorkOrders</label>
        <locationX>741</locationX>
        <locationY>226</locationY>
        <collectionReference>Get_Work_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CancelWorkOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>357</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WORecordsExist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>HRCSVC_Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OLIVariable.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>747</locationX>
        <locationY>453</locationY>
        <inputReference>RelatedWorkOrderRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>5</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Null_check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OLIVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>RelatedWorkOrderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workorderrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
