force-app/main/default/flows/HRCSVC_Complaint_Qualification_Before_Save_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Workflow</name>
        <label>Assign Workflow</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.HRCSVC_Found_ETQ_Workflow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Product_Model.HRCSVC_ETQ_Workflow__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Populate_Product_Model</name>
        <label>Populate Product Model</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Product_Model</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Workflow_Found</name>
        <label>Workflow Found</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Workflow_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Product_Model</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Workflow</targetReference>
            </connector>
            <label>Yes, Workflow Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>AssetProductModel</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.HRCSVC_Case__c}), {!$Record.HRCSVC_Work_Order__r.Asset.HRCFSL_Product_Family__c},  {!$Record.HRCSVC_Case__r.Asset.HRCFSL_Product_Family__c})</expression>
    </formulas>
    <interviewLabel>HRCSVC Complaint Qualification Before-Save Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Complaint Qualification Before-Save Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Product_Model</name>
        <label>Find Product Model</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Workflow_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCSVC_Product_Model_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetProductModel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HRCSVC_Product_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Product_Model</targetReference>
        </connector>
        <object>HRCSVC_Complaint_Qualification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
