force-app/main/default/flows/HRCSVC_Create_Facility_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_input_fields</name>
        <label>Assign input fields</label>
        <locationX>876</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountGBU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_GBU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Address_is_Null</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FLC</name>
        <choiceText>FLC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GSS</name>
        <choiceText>GSS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PSS</name>
        <choiceText>PSS</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Billing_Address_is_Null</name>
        <label>Billing Address is Null?</label>
        <locationX>1112</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Some_fields_are_not_filled</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>Some fields are not filled</label>
        </rules>
        <rules>
            <name>Completely_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_RecordTypeId</targetReference>
            </connector>
            <label>Completely filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseId_or_WorkOrderId</name>
        <label>CaseId or WorkOrderId?</label>
        <locationX>663</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WorkOrderId</defaultConnectorLabel>
        <rules>
            <name>CaseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>CaseId</label>
        </rules>
    </decisions>
    <description>SE-115: This flow is invoked from quick action on Work Order and Case &quot;Create Temporary Account&quot; to create an account of Facility record type</description>
    <dynamicChoiceSets>
        <name>AccountGBUOptions</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GBU__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>HRCSVC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Create Facility Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Facility_Account</name>
        <label>Create Facility Account</label>
        <locationX>672</locationX>
        <locationY>476</locationY>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>varPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBU__c</field>
            <value>
                <elementReference>varAccountGBU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Account_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Needs Stewardship</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>672</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>CaseId_or_WorkOrderId</targetReference>
        </connector>
        <inputAssignments>
            <field>HRCFSL_Account__c</field>
            <value>
                <elementReference>Create_Facility_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_RecordTypeId</name>
        <label>Get Account RecordTypeId</label>
        <locationX>671</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Facility_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>576</locationX>
        <locationY>861</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Facility_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HRCSVC_Location__c</field>
            <value>
                <elementReference>Create_Location</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder</name>
        <label>Update WorkOrder</label>
        <locationX>769</locationX>
        <locationY>822</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Facility_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Create_Location</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>685</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_input_fields</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccountName</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_GBU</name>
            <choiceReferences>AccountGBUOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account GBU</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Address_is_required</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(182, 53, 14);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(199, 24, 24);&quot;&gt;Billing Address is required.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>varCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>varCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>varPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>varPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>varStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>665</locationX>
        <locationY>972</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Temporary Facility Account &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varAccountName} &lt;/span&gt;and Location &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varAccountName}&lt;/span&gt; is created successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>559</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountGBU</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
