force-app/main/default/flows/HRCSVC_Update_Warranty_to_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Counter</name>
        <label>Assign Counter</label>
        <locationX>651</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>WarrantyCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Asset_Warranty.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Asset_Warranty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_single_Entitlement</name>
        <label>Check if single Entitlement</label>
        <locationX>471</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_blank_Warranty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Warranty</defaultConnectorLabel>
        <rules>
            <name>Single_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarrantyCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Warranty</targetReference>
            </connector>
            <label>Single Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warranty_Found</name>
        <label>Is Warranty Found</label>
        <locationX>669</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Warranty Not Found</defaultConnectorLabel>
        <rules>
            <name>Warrnty_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Warranty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Asset_Warranty</targetReference>
            </connector>
            <label>Warranty Found</label>
        </rules>
    </decisions>
    <interviewLabel>HRCSVC Update Warranty to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRCSVC Update Warranty to Case</label>
    <loops>
        <name>Loop_Over_Asset_Warranty</name>
        <label>Loop Over Asset Warranty</label>
        <locationX>471</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Asset_Warranty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_single_Entitlement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Warranty</name>
        <label>Get Asset Warranty</label>
        <locationX>669</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warranty_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRCSVC_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HRCSVC_Warranty_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HRCSVC_Asset_Warranty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases_for_Update</name>
        <label>Get Cases for Update</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>883</locationX>
        <locationY>547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cases_for_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCSVC_AssetWarrantyId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_blank_Warranty</name>
        <label>Update Case with blank Warranty</label>
        <locationX>604</locationX>
        <locationY>1022</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cases_for_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCSVC_AssetWarrantyId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warranty</name>
        <label>Update Warranty</label>
        <locationX>340</locationX>
        <locationY>1022</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cases_for_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRCSVC_AssetWarrantyId__c</field>
            <value>
                <elementReference>AssetWarrantyId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Cases_for_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WarrantyCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
