force-app/main/default/flows/Link_Files_Attached_to_BRM_IT_Form_From_BRM_IT_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_To_New_Element_of_Content_Document_Link</name>
        <label>Assign To New Element of Content Document Link</label>
        <locationX>789</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>varNewContentDoc.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBRMITForm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContentDoc.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingContainedDoc.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContentDoc.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_The_Individual_New_Instance_Of_Content_Document_Link_In_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_The_Individual_New_Instance_Of_Content_Document_Link_In_List</name>
        <label>Put The Individual New Instance Of Content Document Link In List</label>
        <locationX>787</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>listNewContentDoc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewContentDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Existing_Content</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Link Files Attached to BRM IT Form From BRM IT Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Files Attached to BRM IT Form From BRM IT Request</label>
    <loops>
        <name>For_Each_Existing_Content</name>
        <label>For Each Existing Content</label>
        <locationX>420</locationX>
        <locationY>332</locationY>
        <assignNextValueToReference>varExistingContainedDoc</assignNextValueToReference>
        <collectionReference>listExistingContentDoc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_New_Element_of_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Instances_of_List_of_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Instances_of_List_of_Content_Document_Link</name>
        <label>Create New Instances of List of Content Document Link</label>
        <locationX>416</locationX>
        <locationY>46</locationY>
        <inputReference>listNewContentDoc</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Content_Doc</name>
        <label>Find Existing Content Doc</label>
        <locationX>156</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Existing_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBRMITForm.BRM_IT_Request__c</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>listExistingContentDoc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Existing_Content_Doc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listExistingContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>listNewContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varBRMITForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BRM_IT_Form__c</objectType>
    </variables>
    <variables>
        <name>varExistingContainedDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varNewContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
