force-app/main/default/flows/SPR_Create_Phase_1_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase_1_Tasks_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 Pre-Study</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Phase 1</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase_2_Tasks_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Product Design</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Phase 2</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase_3_Tasks_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 Production Preparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Phase 3</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase_4_Tasks_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 Manufacturing / Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Phase 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Phase_1_Tasks_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 Pre-Study</stringValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Phase_2_Tasks_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Product Design</stringValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Phase_3_Tasks_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 Production Preparation</stringValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Special Product Requests - Create Tasks for Each Phase</description>
    <interviewLabel>SPR_Create_Phase_1_Tasks-5_InterviewLabel</interviewLabel>
    <label>SPR - Create Tasks</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Special_Product_Request__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create prototype for feasibilty test</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Create prototype for feasibility test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>Conduct feasibility test</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Conduct feasibility test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A3</name>
        <label>Get supplier quotation</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Get supplier quotation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A4</name>
        <label>Provide prototype for customer</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myRule_1_A5</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Provide prototype for customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A5</name>
        <label>Calculate extra cost</label>
        <locationX>100</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>myRule_1_A6</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Calculate extra cost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_3_A1</name>
        <label>Product Study</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Product Study</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_3_A3</name>
        <label>Industrialization Study</label>
        <locationX>300</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_3_A4</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Industrialization Study</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APTS_Bundle__c;APTS_Option__c;AP_and_LIKO_Order_Tracking__c;Account;Additional_Info__c;Adjustment_Schedule__c;ApprovalRoleMapping__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderSplitPolicy__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Impact__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;BRM_IT_Form__c;CFR_Attachment__c;CS_QC__Credits__c;CS_QC__PayoutAdjust__c;CS_QC__PayoutCalc__c;CS_QC__PayoutSumm__c;CS_QC__QCCSCalendar__c;CS_QC__QG_Goal_Bucket__c;CS_QC__QG_Goal_Scenario__c;CS_QC__QG_Goal_Sheet__c;CS_QC__QG_Performance__c;CS_QC__UserProfile__c;Campaign;Capital_Iem__c;Capital_Requests__c;Case;Competitor_Product__c;Contract;ContractLineItem;Contract_Request_Form__c;DSE__DS_DuplicateBean__c;DSE__DS_Duplicates__c;Department__c;Entitlement;Expense_Item__c;Facility_Physician_Patient__c;Hill_Rom_Application_Domain__c;Hill_Rom_Application__c;Hill_Rom_Contracts__c;ListEmail;MaintenanceAsset;MaintenancePlan;Market_Segmentation__c;MatrixInfo__c;Opportunity;Product2;ProductConsumed;ProductItem;ProductRequest;ProductRequestLineItem;ProductTransfer;Product_Delivery__c;RC_Home_Care_Forecast__c;ResourceAbsence;ReturnOrder;ReturnOrderLineItem;Sales_Goal_Data__c;ServiceAppointment;ServiceContract;ServiceCrew;ServiceCrewMember;ServiceResource;Shipment;Solution;Special_Product_Request__c;Technical_Request__c;Territory_Info__c;TimeSheet;TimeSheetEntry;Trip__c;Vendor__c;WorkOrder;WorkOrderLineItem;icrt__Guide_Attributes_Translation__c;icrt__Guide_Definition__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_3_A4</name>
        <label>Materials Supply</label>
        <locationX>300</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myRule_3_A5</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Materials Supply</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APTS_Bundle__c;APTS_Option__c;AP_and_LIKO_Order_Tracking__c;Account;Additional_Info__c;Adjustment_Schedule__c;ApprovalRoleMapping__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderSplitPolicy__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Impact__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;BRM_IT_Form__c;CFR_Attachment__c;CS_QC__Credits__c;CS_QC__PayoutAdjust__c;CS_QC__PayoutCalc__c;CS_QC__PayoutSumm__c;CS_QC__QCCSCalendar__c;CS_QC__QG_Goal_Bucket__c;CS_QC__QG_Goal_Scenario__c;CS_QC__QG_Goal_Sheet__c;CS_QC__QG_Performance__c;CS_QC__UserProfile__c;Campaign;Capital_Iem__c;Capital_Requests__c;Case;Competitor_Product__c;Contract;ContractLineItem;Contract_Request_Form__c;DSE__DS_DuplicateBean__c;DSE__DS_Duplicates__c;Department__c;Entitlement;Expense_Item__c;Facility_Physician_Patient__c;Hill_Rom_Application_Domain__c;Hill_Rom_Application__c;Hill_Rom_Contracts__c;ListEmail;MaintenanceAsset;MaintenancePlan;Market_Segmentation__c;MatrixInfo__c;Opportunity;Product2;ProductConsumed;ProductItem;ProductRequest;ProductRequestLineItem;ProductTransfer;Product_Delivery__c;RC_Home_Care_Forecast__c;ResourceAbsence;ReturnOrder;ReturnOrderLineItem;Sales_Goal_Data__c;ServiceAppointment;ServiceContract;ServiceCrew;ServiceCrewMember;ServiceResource;Shipment;Solution;Special_Product_Request__c;Technical_Request__c;Territory_Info__c;TimeSheet;TimeSheetEntry;Trip__c;Vendor__c;WorkOrder;WorkOrderLineItem;icrt__Guide_Attributes_Translation__c;icrt__Guide_Definition__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_3_A5</name>
        <label>End Item Availability</label>
        <locationX>300</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>End Item Availability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APTS_Bundle__c;APTS_Option__c;AP_and_LIKO_Order_Tracking__c;Account;Additional_Info__c;Adjustment_Schedule__c;ApprovalRoleMapping__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderSplitPolicy__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Impact__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;BRM_IT_Form__c;CFR_Attachment__c;CS_QC__Credits__c;CS_QC__PayoutAdjust__c;CS_QC__PayoutCalc__c;CS_QC__PayoutSumm__c;CS_QC__QCCSCalendar__c;CS_QC__QG_Goal_Bucket__c;CS_QC__QG_Goal_Scenario__c;CS_QC__QG_Goal_Sheet__c;CS_QC__QG_Performance__c;CS_QC__UserProfile__c;Campaign;Capital_Iem__c;Capital_Requests__c;Case;Competitor_Product__c;Contract;ContractLineItem;Contract_Request_Form__c;DSE__DS_DuplicateBean__c;DSE__DS_Duplicates__c;Department__c;Entitlement;Expense_Item__c;Facility_Physician_Patient__c;Hill_Rom_Application_Domain__c;Hill_Rom_Application__c;Hill_Rom_Contracts__c;ListEmail;MaintenanceAsset;MaintenancePlan;Market_Segmentation__c;MatrixInfo__c;Opportunity;Product2;ProductConsumed;ProductItem;ProductRequest;ProductRequestLineItem;ProductTransfer;Product_Delivery__c;RC_Home_Care_Forecast__c;ResourceAbsence;ReturnOrder;ReturnOrderLineItem;Sales_Goal_Data__c;ServiceAppointment;ServiceContract;ServiceCrew;ServiceCrewMember;ServiceResource;Shipment;Solution;Special_Product_Request__c;Technical_Request__c;Territory_Info__c;TimeSheet;TimeSheetEntry;Trip__c;Vendor__c;WorkOrder;WorkOrderLineItem;icrt__Guide_Attributes_Translation__c;icrt__Guide_Definition__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>Planning</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A2</name>
        <label>Production Preparation</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_5_A3</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Production Preparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A1</name>
        <label>Manufacturing and Delivery availability</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Manufacturing and Delivery availability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APTS_Bundle__c;APTS_Option__c;AP_and_LIKO_Order_Tracking__c;Account;Additional_Info__c;Adjustment_Schedule__c;ApprovalRoleMapping__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderSplitPolicy__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Impact__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;BRM_IT_Form__c;CFR_Attachment__c;CS_QC__Credits__c;CS_QC__PayoutAdjust__c;CS_QC__PayoutCalc__c;CS_QC__PayoutSumm__c;CS_QC__QCCSCalendar__c;CS_QC__QG_Goal_Bucket__c;CS_QC__QG_Goal_Scenario__c;CS_QC__QG_Goal_Sheet__c;CS_QC__QG_Performance__c;CS_QC__UserProfile__c;Campaign;Capital_Iem__c;Capital_Requests__c;Case;Competitor_Product__c;Contract;ContractLineItem;Contract_Request_Form__c;DSE__DS_DuplicateBean__c;DSE__DS_Duplicates__c;Department__c;Entitlement;Expense_Item__c;Facility_Physician_Patient__c;Hill_Rom_Application_Domain__c;Hill_Rom_Application__c;Hill_Rom_Contracts__c;ListEmail;MaintenanceAsset;MaintenancePlan;Market_Segmentation__c;MatrixInfo__c;Opportunity;Product2;ProductConsumed;ProductItem;ProductRequest;ProductRequestLineItem;ProductTransfer;Product_Delivery__c;RC_Home_Care_Forecast__c;ResourceAbsence;ReturnOrder;ReturnOrderLineItem;Sales_Goal_Data__c;ServiceAppointment;ServiceContract;ServiceCrew;ServiceCrewMember;ServiceResource;Shipment;Solution;Special_Product_Request__c;Technical_Request__c;Territory_Info__c;TimeSheet;TimeSheetEntry;Trip__c;Vendor__c;WorkOrder;WorkOrderLineItem;icrt__Guide_Attributes_Translation__c;icrt__Guide_Definition__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A2</name>
        <label>Take a picture of the product</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Take a picture of the product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APTS_Bundle__c;APTS_Option__c;AP_and_LIKO_Order_Tracking__c;Account;Additional_Info__c;Adjustment_Schedule__c;ApprovalRoleMapping__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderSplitPolicy__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Impact__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;BRM_IT_Form__c;CFR_Attachment__c;CS_QC__Credits__c;CS_QC__PayoutAdjust__c;CS_QC__PayoutCalc__c;CS_QC__PayoutSumm__c;CS_QC__QCCSCalendar__c;CS_QC__QG_Goal_Bucket__c;CS_QC__QG_Goal_Scenario__c;CS_QC__QG_Goal_Sheet__c;CS_QC__QG_Performance__c;CS_QC__UserProfile__c;Campaign;Capital_Iem__c;Capital_Requests__c;Case;Competitor_Product__c;Contract;ContractLineItem;Contract_Request_Form__c;DSE__DS_DuplicateBean__c;DSE__DS_Duplicates__c;Department__c;Entitlement;Expense_Item__c;Facility_Physician_Patient__c;Hill_Rom_Application_Domain__c;Hill_Rom_Application__c;Hill_Rom_Contracts__c;ListEmail;MaintenanceAsset;MaintenancePlan;Market_Segmentation__c;MatrixInfo__c;Opportunity;Product2;ProductConsumed;ProductItem;ProductRequest;ProductRequestLineItem;ProductTransfer;Product_Delivery__c;RC_Home_Care_Forecast__c;ResourceAbsence;ReturnOrder;ReturnOrderLineItem;Sales_Goal_Data__c;ServiceAppointment;ServiceContract;ServiceCrew;ServiceCrewMember;ServiceResource;Shipment;Solution;Special_Product_Request__c;Technical_Request__c;Territory_Info__c;TimeSheet;TimeSheetEntry;Trip__c;Vendor__c;WorkOrder;WorkOrderLineItem;icrt__Guide_Attributes_Translation__c;icrt__Guide_Definition__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Special_Product_Request__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A6</name>
        <label>Set flag</label>
        <locationX>100</locationX>
        <locationY>700</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase 1 Tasks Created</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Phase_1_Tasks_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Special_Product_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Special_Product_Request__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Set flag</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_3_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase 2 Tasks Created</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Phase_2_Tasks_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Special_Product_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Special_Product_Request__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A3</name>
        <label>Set flag</label>
        <locationX>500</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase 3 Tasks Created</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Phase_3_Tasks_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Special_Product_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Special_Product_Request__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A3</name>
        <label>Set flag</label>
        <locationX>700</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase 4 Tasks Created</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Phase_4_Tasks_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Special_Product_Request__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Special_Product_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Special_Product_Request__c</objectType>
    </variables>
</Flow>
