force-app/main/default/flows/Tier_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email notification for each task creation</description>
        <name>Task_Creation_Notification</name>
        <label>Task Creation Notification</label>
        <locationX>138</locationX>
        <locationY>2174</locationY>
        <actionName>Task.Tiering_Task_Creation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Notification_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Email_Notification_Loop.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Assign new tasks according to custom metadata type records.</description>
        <name>Assign_Data</name>
        <label>Assign Task Data</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Tier_Tasks_MDT.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Tier_Tasks_MDT.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Tier_Tasks_MDT.Tier_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Tier_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add single record variable to collection variable.</description>
        <name>Collect_Tier_Variables</name>
        <label>Collect Tier Variables</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TasksToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Tier_Tasks_MDT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approvals</name>
        <label>Check Approvals</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Entry_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Inputs.Business_Approval_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.Compliance_Approval_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.Event_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.Tier_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.International_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_Task_Variables</targetReference>
            </connector>
            <label>Approval Received?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if business and compliance approval is received and Tier category and Event Type is selected in Campaign</description>
        <name>Check_Entry_Condition</name>
        <label>Check Entry Condition</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Entry_Failed_Again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_Records_Found</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Inputs.Total_Clicks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.Total_Clicks__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.International_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tier_Task_Variables.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.Tier_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tier_Task_Variables.Tier_Category__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Tier_Tasks_MDT</targetReference>
            </connector>
            <label>Tier Records Found?</label>
        </rules>
        <rules>
            <name>Non_Supported_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_Aligned_Categories.Dummy_Tier_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Campaign_Inputs.Tier_Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Non_Aligned_Categories.Dummy_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Campaign_Inputs.International_Region__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Aligned_Event</targetReference>
            </connector>
            <label>Non-Supported Category?</label>
        </rules>
        <rules>
            <name>Tasks_Created_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Inputs.Total_Clicks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign_Inputs.Total_Clicks__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tasks_Available</targetReference>
            </connector>
            <label>Tasks Created Already?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Queue has members added.</description>
        <name>Group_Members</name>
        <label>Group Members</label>
        <locationX>270</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Email_Notification_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Creation_Notification</targetReference>
            </connector>
            <label>Member Added?</label>
        </rules>
    </decisions>
    <description>Create set of tasks automatically based on Tier category.</description>
    <interviewLabel>Tier Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tier Task Creation</label>
    <loops>
        <description>Loop to iterate Tasks records to send email notification</description>
        <name>Email_Notification_Loop</name>
        <label>Email Notification Loop</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <collectionReference>TasksToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Tier tasks in custom metadata type.</description>
        <name>Iterate_Tier_Tasks_MDT</name>
        <label>Iterate Tier Tasks MDT</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>TierTaskMDT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tier_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Tier 1 Tasks for Campaigns</description>
        <name>Create_Tier_Tasks</name>
        <label>Create Tier Tasks</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Update_Total_Clicks_and_Status</targetReference>
        </connector>
        <inputReference>TasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Campaign_Inputs</name>
        <label>Campaign Inputs</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Aligned_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the values for non-aligned categories with respect to their region.</description>
        <name>Get_Non_Aligned_Categories</name>
        <label>Get Non-Aligned Categories</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approvals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dummy_Tier_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.Tier_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dummy_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.International_Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tier_Tasks__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find queue members to send email notification.</description>
        <name>Get_Queue_Members</name>
        <label>Get Queue Members</label>
        <locationX>270</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Notification_Loop.OwnerId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>MemberUserId</assignToReference>
            <field>UserOrGroupId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get ID for Queue name.</description>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Tier_Tasks_MDT.Task_Owner__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>VQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Name</name>
        <label>Get Record Type Name</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Entry_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INT_Tier_Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get all Tier Tasks from custom metatdata.</description>
        <name>Tier_MDT</name>
        <label>Tier MDT</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.Tier_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.Event_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.International_Region__c</elementReference>
            </value>
        </filters>
        <object>Tier_Tasks__mdt</object>
        <outputReference>TierTaskMDT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Tier_Category__c</queriedFields>
        <queriedFields>Tier_Type__c</queriedFields>
        <queriedFields>Task_Owner__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <sortField>Task_Owner__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Tier_Task_Variables</name>
        <label>Tier Task Variables</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tier_MDT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.Tier_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.Event_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Inputs.International_Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tier_Tasks__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update count to Total Clicks and status to In Progress</description>
        <name>Update_Total_Clicks_and_Status</name>
        <label>Update Total Clicks and Status</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Email_Notification_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Clicks__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>Entry_Failed</name>
        <label>Entry Failed</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Comments</name>
            <fieldText>&lt;p&gt;Cannot create Tiering Tasks as some or all of the following conditions are not met:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Business approval and Compliance approval are required.&lt;/li&gt;&lt;li&gt;Valid Event Type should be selected.&lt;/li&gt;&lt;li&gt;Valid International Region should be selected.&lt;/li&gt;&lt;li&gt;Valid Tier Category is required. (Please complete Process Questions)&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check and proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Entry_Failed_Again</name>
        <label>Entry Failed Again</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Comments_Next</name>
            <fieldText>&lt;p&gt;Cannot create Tiering Tasks as some or all of the following conditions are not met:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Business approval and Compliance approval are required.&lt;/li&gt;&lt;li&gt;Valid Event Type should be selected.&lt;/li&gt;&lt;li&gt;Valid International Region should be selected.&lt;/li&gt;&lt;li&gt;Valid Tier Category is required. (Please complete Process Questions)&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check and proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_Aligned_Event</name>
        <label>Non-Aligned Event</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Info_Message</name>
            <fieldText>&lt;p&gt;This event does not align with Hillroms strategic priorities, therefore Hillrom will not attend this conference.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Tier_Task</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tiering Tasks are created successfully for {!Campaign_Inputs.Tier_Category__c} {!Campaign_Inputs.Event_Type__c} {!Campaign_Inputs.International_Region__c} conference.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tasks_Available</name>
        <label>Tasks Available</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TaskCount</name>
            <fieldText>&lt;p&gt;Tiering tasks were already created for this conference as per the submission done for Tier process earlier. Hence, tasks cannot be created again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores queue members</description>
        <name>MemberUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable of new task.</description>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Variable to fetch/store current record ID.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>New set of tasks</description>
        <name>TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Collection of &apos;Tier Tasks&apos; custom metadata type.</description>
        <name>TierTaskMDT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tier_Tasks__mdt</objectType>
    </variables>
    <variables>
        <name>VQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store record type ID</description>
        <name>VRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
