force-app/main/default/flows/Update_Assets_on_Demo_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_obj_to_new_coll</name>
        <label>Add obj to new coll</label>
        <locationX>438</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>sObjNewAssetColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Asset_Fields</name>
        <label>Clear Asset Fields</label>
        <locationX>366</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>sObjAsset.Demo_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAsset.Demo_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAsset.Demo_End_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_obj_to_new_coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>517</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>sObjAsset.Demo_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAsset.Demo_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_obj_to_new_coll</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>StatusAvailable</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_collection_size</name>
        <label>Check collection size</label>
        <locationX>142</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_assets</targetReference>
            </connector>
            <label>Has assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>448</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Update_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatusAvailable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Asset_Fields</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <interviewLabel>Update Assets on Demo Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Assets on Demo Line Items</label>
    <loops>
        <name>Loop_through_assets</name>
        <label>Loop through assets</label>
        <locationX>139</locationX>
        <locationY>290</locationY>
        <assignNextValueToReference>sObjAsset</assignNextValueToReference>
        <collectionReference>SOC_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Asset_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_related_assets</name>
        <label>Find related assets</label>
        <locationX>143</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_collection_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demo_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDemoId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>SOC_Assets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Demo_Start_Date__c</queriedFields>
        <queriedFields>Demo_End_Date__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Records</name>
        <label>Update Asset Records</label>
        <locationX>141</locationX>
        <locationY>456</locationY>
        <inputReference>sObjNewAssetColl</inputReference>
    </recordUpdates>
    <startElementReference>Find_related_assets</startElementReference>
    <status>Active</status>
    <variables>
        <name>sObjAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>sObjNewAssetColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>SOC_Assets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varDemoEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDemoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDemoStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
