force-app/main/default/flows/Update_Previous_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Previous_Asset_Exists</name>
        <label>Previous Asset Exists</label>
        <locationX>112</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Update Previous Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Previous Asset</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Asset</name>
        <label>Get Previous Asset</label>
        <locationX>117</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Asset_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldAssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>sObjAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Demo_Start_Date__c</queriedFields>
        <queriedFields>Demo_End_Date__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Demo_Request__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>109</locationX>
        <locationY>319</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldAssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_End_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Request__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <startElementReference>Get_Previous_Asset</startElementReference>
    <status>Active</status>
    <variables>
        <name>sObjAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varOldAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
