force-app/main/default/flows/Update_Amount_on_Parent_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Total_Amount</name>
        <label>Total Amount</label>
        <locationX>319</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__r.Total_Amount_Children__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Total_Amount</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Amount on Parent Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Amount on Parent Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Total_Amount</name>
        <label>Update Total Amount</label>
        <locationX>682</locationX>
        <locationY>289</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Amount_Children__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Total_Amount</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 AND 4 )</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INT FCN</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INT Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
